<a href="https://colab.research.google.com/github/jeanlucjackson/w266_final_project/blob/main/code/RR/prediction_count_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
import os
import glob
import numpy as np
import pandas as pd

#from google.colab import data_table
#data_table.enable_dataframe_formatter()

In [34]:
# Some important file locations and constants

project_root = "/Users/rerobbins/Downloads/"
prediction_folder = project_root+"predictions/"
validation_folder = project_root+"validation/"

In [27]:
file_list = glob.glob(prediction_folder+"predictions.T5*.csv")

In [28]:
file_list

['/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.triviaqa.quac.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.squad.nq.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.triviaqa.triviaqa.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.squad.squad.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.squad.quac.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.squad.triviaqa.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.nq.nq.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.quac.triviaqa.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.nq.squad.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.triviaqa.squad.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.quac.nq.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.triviaqa.nq.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.quac.squad.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.quac.quac.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.nq.triviaqa.csv',
 '/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.nq.quac.csv']

In [29]:
df = pd.DataFrame([(os.path.basename(x), len (pd.read_csv(x))) for x in file_list], columns=['name', 'count']).sort_values(by=['count'])
df

                                                 name  count
1            predictions.T5_base_pt_long.squad.nq.csv   2356
6               predictions.T5_base_pt_long.nq.nq.csv   2356
10            predictions.T5_base_pt_long.quac.nq.csv   2356
11        predictions.T5_base_pt_long.triviaqa.nq.csv   2356
0       predictions.T5_base_pt_long.triviaqa.quac.csv   5868
15            predictions.T5_base_pt_long.nq.quac.csv   5868
4          predictions.T5_base_pt_long.squad.quac.csv   5869
13          predictions.T5_base_pt_long.quac.quac.csv   5869
5      predictions.T5_base_pt_long.squad.triviaqa.csv   9835
14        predictions.T5_base_pt_long.nq.triviaqa.csv   9835
2   predictions.T5_base_pt_long.triviaqa.triviaqa.csv   9836
7       predictions.T5_base_pt_long.quac.triviaqa.csv   9836
3         predictions.T5_base_pt_long.squad.squad.csv  10570
8            predictions.T5_base_pt_long.nq.squad.csv  10570
9      predictions.T5_base_pt_long.triviaqa.squad.csv  10570
12         predictions.T5_base_pt_long.quac.squad.csv  10570

In [35]:
file_list = glob.glob(validation_folder+"*.csv")

In [36]:
file_list

['/Users/rerobbins/Downloads/validation/triviaqa_valid_pairs.csv',
 '/Users/rerobbins/Downloads/validation/quac_valid_pairs.csv',
 '/Users/rerobbins/Downloads/validation/squad_valid_pairs.csv',
 '/Users/rerobbins/Downloads/validation/nq_valid_pairs.csv']

In [37]:
df = pd.DataFrame([(os.path.basename(x), len (pd.read_csv(x))) for x in file_list], columns=['name', 'count']).sort_values(by=['count'])
df

                       name  count
3        nq_valid_pairs.csv   2356
1      quac_valid_pairs.csv   5868
0  triviaqa_valid_pairs.csv   9835
2     squad_valid_pairs.csv  10570

In [39]:
file_list = glob.glob(prediction_folder+"predictions.T5*.csv")
file_list[2]

'/Users/rerobbins/Downloads/predictions/predictions.T5_base_pt_long.triviaqa.triviaqa.csv'

In [40]:
df=pd.read_csv(file_list[2])

In [41]:
#find duplicate rows across all columns
duplicateRows = df[df.duplicated()]

In [42]:
duplicateRows

Empty DataFrame
Columns: [Unnamed: 0, context, answer, target, prediction]
Index: []

In [45]:
df[9830:]

,Unnamed: 0,context,answer,target,prediction
9830,4829.0,Cecil Balmond OBE is a Sri Lankan – British de...,ArcelorMittal Orbit,How is children's author Mary Pollock better k...,What is the name of the sculpture designed by ...
9831,4830.0,Manchester is a major city and metropolitan bo...,today,Which British king married Mary of Teck?,Which city was the first to be renamed as 'The...
9832,4831.0,Lord Snooty ( or Lord Snooty and his Pals ) wa...,Lord Snooty,Who won the 2010 Giro D'Italia?,What was the name of the character in the Bean...
9833,4832.0,"Little Dorrit is a novel by Charles Dickens , ...",Marshalsea,What type of creature is a Kokanee?,What is the name of the prison in Charles Dick...
9834,4833.0,"Plot \n \n The Sign of the Four ( 1890 ) , als...",Arthur Conan Doyle,What is the fifth event in the heptathlon,What author wrote the novels 'The Sign of Four...
9835,4834.0,A fish is any member of a paraphyletic group o...,tuna,Who set fire to his guitar at the Monterey Pop...,What type of fish is a skunk?

In [46]:
df[:4]

,Unnamed: 0,context,answer,target,prediction
0,0.0,"Goliath ( ; ; Arabic : جالوت , Ǧālūt ( Qur'ani...",one,"When David killed Goliath, how many of his fiv...",What number was the name of the king of Israel...
1,1.0,"Geronimo ( `` the one who yawns '' ; June 16 ,...",Apaches,Of which tribe of Red Indians was Geronimo a c...,What tribe was led by Geronimo?
2,2.0,"In Jewish eschatology the term mashiach , or `...",Elijah,"According to Jewish tradition, whose chair is ...",What was the name of the prophet who was the f...
3,3.0,"Haiti ( ; ; ) , officially the Republic of Hai...",La Española,What island is shared by Haiti and the Dominic...,What is the name of the island of Hispaniola i...

In [49]:
df_2=df['target']

In [50]:
df_2[df_2.duplicated()]

73      The male lead roll was played by whom in the 2...
205     Who played the title role in the TV series 'Th...
254         What colour is the cross on the Finnish flag?
301     Who wrote the operas Oedipus Rex and The Rake'...
318     Who was the head of the German Ministry of Pub...
                              ...
9831             Which British king married Mary of Teck?
9832                      Who won the 2010 Giro D'Italia?
9833                  What type of creature is a Kokanee?
9834            What is the fifth event in the heptathlon
9835    Who set fire to his guitar at the Monterey Pop...
Name: target, Length: 5855, dtype: object