<a href="https://colab.research.google.com/github/jeanlucjackson/w266_final_project/blob/main/code/RR/prediction_count_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
import glob
import numpy as np
import pandas as pd

#from google.colab import data_table
#data_table.enable_dataframe_formatter()

In [3]:
# Some important file locations and constants

project_root = "/content/drive/MyDrive/w266 NLP Final Project/"
prediction_folder = project_root + "Predictions/"

In [4]:
file_list = glob.glob(prediction_folder+"predictions.T5*.csv")
df = pd.DataFrame([(os.path.basename(x), len (pd.read_csv(x))) for x in file_list], columns=['name', 'count']).sort_values(by=['count'])
df

                                                 name  count
1               predictions.T5_base_pt_long.nq.nq.csv   2356
8         predictions.T5_base_pt_long.triviaqa.nq.csv   2356
10           predictions.T5_base_pt_long.squad.nq.csv   2356
14            predictions.T5_base_pt_long.quac.nq.csv   2356
5             predictions.T5_base_pt_long.nq.quac.csv   5868
7       predictions.T5_base_pt_long.triviaqa.quac.csv   5868
12         predictions.T5_base_pt_long.squad.quac.csv   5869
15          predictions.T5_base_pt_long.quac.quac.csv   5869
6         predictions.T5_base_pt_long.nq.triviaqa.csv   9835
11     predictions.T5_base_pt_long.squad.triviaqa.csv   9835
0       predictions.T5_base_pt_long.quac.triviaqa.csv   9836
2   predictions.T5_base_pt_long.triviaqa.triviaqa.csv   9836
3            predictions.T5_base_pt_long.nq.squad.csv  10570
4      predictions.T5_base_pt_long.triviaqa.squad.csv  10570
9         predictions.T5_base_pt_long.squad.squad.csv  10570
13         predictions.T5_base_pt_long.quac.squad.csv  10570