<a href="https://colab.research.google.com/github/jeanlucjackson/w266_final_project/blob/main/code/sandboxes/BB/analysis/metrics_text_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metrics: Text Evaluation

### Imports/Setup

In [1]:
from os import listdir
from os.path import isfile, join

import csv
import json
import pprint

import pandas as pd
from tqdm import tqdm
from sklearn.utils import shuffle

In [2]:
# This cell will authenticate you and mount your Drive in the Colab.
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
evaluation_root = "/content/drive/MyDrive/w266 NLP Final Project/Evaluation/"
filename = join(evaluation_root, "evaluation_database.json")

# Read JSON into dataframe
evaluation_df = pd.read_json(filename)

### Clean up evaluation dataframe to only include columns needed for text analysis

In [4]:
# Clean up evaluation db df to only include columns needed for text analysis
clean_eval_df = evaluation_df[
    [
        "nickname",
        "base_model",
        "trained_on",
        "tested_on",
        "hyperparameter",
        "target",
        "prediction",
        "bleu",
        "rougeL",
        "meteor",
        "bertscore-f1",
        "use",
    ]
]

clean_eval_df

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
0,bart_nq_nq,bart,nq,nq,{'defaults': True},what was the real name of saudi arabia,what is the name of the kingdom of saudi arabia,0.000000,0.666667,0.623306,0.915830,0.794086
1,bart_nq_nq,bart,nq,nq,{'defaults': True},whats the most liked picture on instagram 2018,what is the most liked picture on instagram,0.680375,0.750000,0.864796,0.932259,0.884909
2,bart_nq_nq,bart,nq,nq,{'defaults': True},where does the movie proof of life take place,where does alice go in the new movie,0.000000,0.470588,0.354635,0.835192,0.517866
3,bart_nq_nq,bart,nq,nq,{'defaults': True},where is net profit on the balance sheet,where does net profit come from in a financial...,0.000000,0.333333,0.311653,0.856130,0.728012
4,bart_nq_nq,bart,nq,nq,{'defaults': True},when was fingerprinting first used by the police,when was fingerprint technology first used in ...,0.000000,0.588235,0.694444,0.876353,0.704206
...,...,...,...,...,...,...,...,...,...,...,...,...
286285,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},Which ex British daily newspaper was first pub...,What is the name of the city of Manchester?,0.000000,0.093023,0.058309,0.679618,0.322748
286286,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},Which cartoon character lived in Bunkerton Cas...,What was the name of Lord Marmaduke of Bunkerton?,0.000000,0.125000,0.121951,0.794428,0.515345
286287,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},In which prison was 'Amy' born in the novel 'L...,What is the name of the prison in Charles Dick...,0.000000,0.416667,0.248227,0.821790,0.593840
286288,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},The Sign Of Four was a detective story written...,Who wrote the novels 'The Sign of Four' and 'A...,0.000000,0.400000,0.381426,0.796076,0.585255
286289,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},"Albacore, bigeye and longtail are species of w...",What is the largest fish in the world?,0.000000,0.210526,0.119048,0.769767,0.537810

In [ ]:
clean_eval_df["bertscore-f1"].describe()

count    286290.000000
mean          0.789801
std           0.082735
min           0.521592
25%           0.729552
50%           0.784537
75%           0.845546
max           1.000000
Name: bertscore-f1, dtype: float64

In [ ]:
clean_eval_df["use"].describe()

count    286290.000000
mean          0.483113
std           0.246386
min          -0.147977
25%           0.291765
50%           0.487792
75%           0.671069
max           1.000000
Name: use, dtype: float64

In [ ]:
clean_eval_df.describe()

,bleu,rougeL,meteor,bertscore-f1,use
count,286290.000000,286290.000000,286290.000000,286290.000000,286290.000000
mean,0.048842,0.295583,0.279015,0.789801,0.483113
std,0.158423,0.233494,0.234177,0.082735,0.246386
min,0.000000,0.000000,0.000000,0.521592,-0.147977
25%,0.000000,0.125000,0.097087,0.729552,0.291765
50%,0.000000,0.250000,0.200000,0.784537,0.487792
75%,0.000000,0.428571,0.408791,0.845546,0.671069
max,1.000000,1.000000,0.999937,1.000000,1.000000

### Find the overall averages for each prediction set and metric

In [ ]:
# Find the overall averages for each prediction set and metric
eval_means_df = clean_eval_df.groupby(["nickname"]).mean()

# Reset index so able to groupby and sort below to find top scoring prediction sets for each metric
eval_means_df = eval_means_df.reset_index("nickname")

eval_means_df = eval_means_df[["nickname", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]
eval_means_df

,nickname,bleu,rougeL,meteor,bertscore-f1,use
0,T5_amalgam_nq,0.169746,0.527758,0.497871,0.858036,0.719863
1,T5_amalgam_quac,0.053671,0.249039,0.262385,0.778060,0.378001
2,T5_amalgam_squad,0.142885,0.470772,0.469798,0.867048,0.656399
3,T5_amalgam_triviaqa,0.066390,0.359130,0.337926,0.822766,0.601577
4,T5_nq_nq,0.172979,0.527675,0.497261,0.859476,0.718928
5,T5_nq_quac,0.001471,0.151900,0.111625,0.696885,0.287737
6,T5_nq_squad,0.017446,0.346182,0.273460,0.791693,0.554671
7,T5_nq_triviaqa,0.007450,0.278408,0.189823,0.766649,0.518441
8,T5_quac_nq,0.000000,0.068525,0.040712,0.662784,0.180669
9,T5_quac_quac,0.023456,0.173453,0.189914,0.756046,0.303081
10,T5_quac_squad,0.000392,0.096745,0.097564,0.714181,0.166183
11,T5_quac_triviaqa,0.000006,0.043162,0.056670,0.676198,0.119212
12,T5_squad_nq,0.011952,0.415383,0.357760,0.799702,0.633868
13,T5_squad_quac,0.007131,0.185156,0.207983,0.753711,0.320500
14,T5_squad_squad,0.147281,0.467739,0.467691,0.868757,0.650666
15,T5_squad_triviaqa,0.022352,0.265502,0.221913,0.788757,0.494978
16,T5_triviaqa_nq,0.008441,0.308986,0.319191,0.781309,0.572548
17,T5_triviaqa_quac,0.001679,0.110604,0.160580,0.715610,0.244592
18,T5_triviaqa_squad,0.042573,0.280593,0.327971,0.808893,0.499839
19,T5_triviaqa_triviaqa,0.055784,0.337024,0.323068,0.816313,0.591368
20,bart_amalgam_nq,0.196693,0.545003,0.523538,0.864331,0.729291
21,bart_amalgam_quac,0.027411,0.233675,0.250150,0.770516,0.363810
22,bart_amalgam_squad,0.135813,0.458580,0.460132,0.862849,0.650527
23,bart_amalgam_triviaqa,0.077973,0.368721,0.354559,0.826420,0.609191
24,bart_nq_nq,0.203072,0.550431,0.528802,0.867402,0.736651
25,bart_nq_quac,0.001083,0.149609,0.112613,0.697180,0.286565
26,bart_nq_squad,0.014385,0.322623,0.252032,0.783824,0.540661
27,bart_nq_triviaqa,0.007997,0.286437,0.200833,0.770833,0.534304
28,bart_quac_nq,0.005041,0.326124,0.224375,0.750539,0.516567
29,bart_quac_quac,0.057220,0.282748,0.288054,0.792803,0.418768
30,bart_quac_squad,0.027720,0.290898,0.245610,0.802949,0.445580
31,bart_quac_triviaqa,0.006868,0.197812,0.150911,0.755470,0.396791
32,bart_squad_nq,0.011793,0.410598,0.355301,0.798603,0.630303
33,bart_squad_quac,0.007123,0.184176,0.205870,0.753976,0.318477
34,bart_squad_squad,0.151242,0.469155,0.475293,0.869525,0.657032
35,bart_squad_triviaqa,0.021929,0.260254,0.219060,0.788075,0.492134
36,bart_triviaqa_nq,0.011421,0.365830,0.367585,0.795629,0.622989
37,bart_triviaqa_quac,0.001459,0.113614,0.162960,0.709303,0.243177
38,bart_triviaqa_squad,0.047023,0.310570,0.337941,0.816628,0.535130
39,bart_triviaqa_triviaqa,0.075994,0.367775,0.350981,0.825904,0.607768

### Create BART and T5 dataframes to use if want to focus on one

In [5]:
# Create BART dataframe
bart_df = clean_eval_df[clean_eval_df["base_model"] == "bart"]

In [6]:
# Create T5 dataframe
t5_df = clean_eval_df[clean_eval_df["base_model"] == "T5"]

## Model Evaluation

## BERTScore vs. USE Scores

### BERTScore > USE

All Models: BERTScore > USE

In [ ]:
# Find predictions with semantic metric score differences

sem_diff = clean_eval_df[
    (clean_eval_df["bertscore-f1"] >= 0.85)  # top 25th percentile bertscore
    & (clean_eval_df["use"] <= 0.3)   # bottom 25th percentile use
]

sem_diff = sem_diff.sort_values(by="use", ascending=False)

sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
244410,T5_triviaqa_squad,T5,triviaqa,squad,{'defaults': True},What are Plastoglobuli made of?,The plastoglobules are spherical bubbles of what?,0.000000,0.333333,0.322581,0.899336,0.299999
240950,T5_triviaqa_squad,T5,triviaqa,squad,{'defaults': True},A molecular phylogeny analysis confirmed that ...,The cydippids are not what?,0.220834,0.400000,0.474286,0.857079,0.299485
97805,bart_triviaqa_squad,bart,triviaqa,squad,{'defaults': True},A molecular phylogeny analysis confirmed that ...,The cydippids are not what?,0.220834,0.400000,0.474286,0.857079,0.299485
75697,bart_squad_squad,bart,squad,squad,{'defaults': True},What is one work by Olivier Messiaen?,What was the name of Messiaen's 1935 work?,0.000000,0.250000,0.243902,0.859928,0.299191
91534,bart_triviaqa_quac,bart,triviaqa,quac,{'defaults': True},What was Azarath like?,What was the name of the alternate dimension c...,0.000000,0.428571,0.563616,0.871783,0.298804
...,...,...,...,...,...,...,...,...,...,...,...,...
162552,T5_nq_triviaqa,T5,nq,triviaqa,{'defaults': True},Hedonophobia is the irrational fear of what?,what is the meaning of hedonophobia,0.000000,0.461538,0.476923,0.859920,0.113248
247493,T5_triviaqa_squad,T5,triviaqa,squad,{'defaults': True},What are the small tentacles on Cydippids called?,The cydippids have what?,0.000000,0.333333,0.232558,0.873061,0.102150
45397,bart_quac_squad,bart,quac,squad,{'defaults': True},Along with private individuals and organizatio...,What is Ergänzungsschulen?,0.000000,0.375000,0.211203,0.871793,0.083942
238618,T5_triviaqa_squad,T5,triviaqa,squad,{'defaults': True},What do Plastoglobuli exchange contents with?,The plastoglobulus is anchored to which network?,0.000000,0.000000,0.070423,0.862789,0.066797
102655,bart_triviaqa_squad,bart,triviaqa,squad,{'defaults': True},Along with private individuals and organizatio...,Ergänzungsschulen are German what?,0.000000,0.235294,0.122951,0.851867,0.059189

Fairly good examples when looking at bottom two...

In [ ]:
# Convert to Latex

# Take bottom two scoring ones
sem_diff = sem_diff.tail(2)

# Printe entire text
with pd.option_context("max_colwidth", 1000):
    print (sem_diff[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                                                                         target &                                       prediction \\
\midrule
                                                  What do Plastoglobuli exchange contents with? & The plastoglobulus is anchored to which network? \\
Along with private individuals and organizations, what groups sometimes runs ergänzungsschulen? &               Ergänzungsschulen are German what? \\
\bottomrule
\end{tabular}

Not great examples when random shuffle...

In [ ]:
# Convert to Latex

# Take random two scoring ones
sem_diff = shuffle(sem_diff).tail(2)

# Printe entire text
with pd.option_context("max_colwidth", 1000):
    print (sem_diff[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                                                                 target &                                                prediction \\
\midrule
How much did the second stage increase thrust by with the integration of the S-IVB-200? &                       How much weight did the S-IVB have? \\
                                                  What plateau has groups of clay pits? & What plateau has only a few natural and artificial ponds? \\
\bottomrule
\end{tabular}

BART Model: BERScore > USE

In [ ]:
# Find BART predictions with semantic metric score differences
# Specifically chose trained on = amalgam because high performing model

bart_sem_diff = bart_df[
    (bart_df["trained_on"] == "amalgam")
    & (bart_df["bertscore-f1"] >= 0.85)  # top 25th percentile bertscore
    & (bart_df["use"] <= 0.3)   # bottom 25th percentile use
]

bart_sem_diff = bart_sem_diff.sort_values(by="use", ascending=False)

bart_sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
128985,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What type of support does co-teaching provide?,What does co-teaching provide to students to r...,0.0,0.476190,0.524706,0.864651,0.298659
119148,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},What was Dana's character like?,What was Scully's faith?,0.0,0.545455,0.457428,0.863713,0.297248
125258,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Where is the Tyneside Bar located?,What extension does the Tyneside Cinema have?,0.0,0.307692,0.359937,0.853858,0.296461
118099,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},What was Brando's lifestyle like?,What was Brando's reputation as a bad boy?,0.0,0.533333,0.663014,0.890210,0.295167
130667,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},How are ergänzungsschulen funded?,What does Ergungsschulen charge their students?,0.0,0.000000,0.096154,0.868782,0.287752
129804,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What do current ctenophores have that fossils ...,What are ctenophores thought to have?,0.0,0.352941,0.274457,0.886462,0.282767
123000,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What were the fossils that were found to repre...,What are ctenophores thought to have?,0.0,0.285714,0.209023,0.863050,0.280719
127483,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Who were two of Kublai's Chinese advisers?,Who gave strong influence to Kublai's early co...,0.0,0.352941,0.346841,0.872934,0.278422
120975,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},did he break any other records with speed boat...,Did he win any other awards?,0.0,0.533333,0.459794,0.863179,0.273609
122949,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What do pyrenoids store?,What is accumulated as the pyrenoids mature?,0.0,0.363636,0.283019,0.892096,0.272564
130202,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},In what geographical portion of Wales is Aberc...,In what direction was Abercynon?,0.0,0.428571,0.328776,0.873489,0.269368
131113,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What shape are Plastoglobuli?,what are plastoglobuli in the chloroplast,0.0,0.600000,0.501089,0.886374,0.266173
127562,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What Revolutionary War midnight rider was a Hu...,Who was descended from Huguenot refugees?,0.0,0.266667,0.206186,0.872630,0.264109
133239,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What proclamation officially ended limited Hug...,What document ended Protestant rule in Montpel...,0.0,0.285714,0.187500,0.854998,0.262742
123088,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What process down the line does rubisco's flaw...,What cycle uses rubisco?,0.0,0.266667,0.132743,0.853177,0.245138
127146,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Who explained that inertial reference frames e...,Who extended the principle of inertia further?,0.0,0.100000,0.074627,0.850367,0.240342
131987,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What do pyrenoids look like?,Pyrenoids are spherical and what kind of bodies?,0.0,0.153846,0.238095,0.865828,0.238289
142535,bart_amalgam_triviaqa,bart,amalgam,triviaqa,{'defaults': True},"The substances isoflurane, desflurane, nitrous...","Sevoflurane, halothane and Halothane are all t...",0.0,0.260870,0.173410,0.868395,0.222146
122705,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},What was the reaction to the 2009 revelation?,What was Graham's response to the Nixon tapes?,0.0,0.470588,0.490110,0.859419,0.212422
126980,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What does phycoerytherin appear in?,Phycoerytherin is one of the pigments that mak...,0.0,0.133333,0.230769,0.854091,0.152763

In [ ]:
# Convert to Latex

# Take bottom two scoring ones
bart_sem_diff = bart_sem_diff.tail(2)

# Printe entire text
with pd.option_context("max_colwidth", 1000):
    print (bart_sem_diff[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                       target &                                                 prediction \\
\midrule
What was the reaction to the 2009 revelation? &             What was Graham's response to the Nixon tapes? \\
          What does phycoerytherin appear in? & Phycoerytherin is one of the pigments that makes what red? \\
\bottomrule
\end{tabular}

In [ ]:
# Convert to Latex

# Take bottom two random ones
bart_sem_diff = shuffle(bart_sem_diff).tail(2)

# Print entire text
with pd.option_context("max_colwidth", 1000):
    print (bart_sem_diff[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                       target &                                                 prediction \\
\midrule
          What does phycoerytherin appear in? & Phycoerytherin is one of the pigments that makes what red? \\
What was the reaction to the 2009 revelation? &             What was Graham's response to the Nixon tapes? \\
\bottomrule
\end{tabular}

T5 Model: BERScore > USE

In [ ]:
# Find T5 predictions with semantic metric score differences

t5_sem_diff = t5_df[
    (t5_df["trained_on"] == "amalgam")
    & (t5_df["bertscore-f1"] >= 0.85)  # top 25th percentile bertscore
    & (t5_df["use"] <= 0.3)   # bottom 25th percentile use
]

t5_sem_diff = t5_sem_diff.sort_values(by="use", ascending=False)

t5_sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
260520,T5_amalgam_quac,T5,amalgam,quac,{'defaults': True},Who's mistress was Lillie Langtry?,Who was Albert Edward Langtry's husband?,0.000000,0.461538,0.352113,0.861289,0.297351
273812,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},How are ergänzungsschulen funded?,What do Ergänzungsschulen charge their students?,0.000000,0.333333,0.192308,0.928205,0.295489
272728,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What are phycobilisomes?,What do phycobilins often organize into?,0.000000,0.222222,0.232558,0.878591,0.292014
272909,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What plateau has groups of clay pits?,What plateau has only a few natural and artifi...,0.000000,0.352941,0.451807,0.865636,0.290550
285236,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},What is an oblation in relation to a god? Offe...,What is an oblation?,0.042999,0.444444,0.275000,0.864237,0.286224
270069,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What does isobaric mean?,What isobaric process in the Rankine cycle?,0.000000,0.363636,0.283019,0.855307,0.283750
271355,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What is inequality associated with higher leve...,What is associated with lower levels of growth...,0.000000,0.545455,0.661139,0.869704,0.283681
284105,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},What does a costermonger sell?,The term costermonger refers to a street selle...,0.000000,0.133333,0.307692,0.851562,0.282168
270628,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},Who were two of Kublai's Chinese advisers?,Who gave strong influence to Kublai's early co...,0.000000,0.352941,0.346841,0.872934,0.278422
276384,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What proclamation officially ended limited Hug...,What gave Protestant rule to the Huguenots?,0.000000,0.142857,0.187500,0.872132,0.274933
264120,T5_amalgam_quac,T5,amalgam,quac,{'defaults': True},did he break any other records with speed boat...,Did he win any other awards?,0.000000,0.533333,0.459794,0.863179,0.273609
266094,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What do pyrenoids store?,What is accumulated as pyrenoids mature?,0.000000,0.400000,0.288462,0.909701,0.271904
270707,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What Revolutionary War midnight rider was a Hu...,Who was descended from Huguenot refugees?,0.000000,0.266667,0.206186,0.872630,0.264109
270251,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What does rhodophyte mean?,What is the name of the rhodophyte lineage?,0.000000,0.333333,0.277778,0.905421,0.261391
285641,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},The ports of Puck and Jastarnia are in which E...,Jastarnia is a seaside resort in which country?,0.000000,0.421053,0.381197,0.861446,0.258191
266233,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What process down the line does rubisco's flaw...,What cycle uses rubisco?,0.000000,0.266667,0.132743,0.853177,0.245138
267766,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},Does BSkyB carry any control over the picture ...,What is BSkyB's control over the content and c...,0.000000,0.347826,0.345736,0.851130,0.241391
270291,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},Who explained that inertial reference frames e...,Who extended the principle of inertia further?,0.000000,0.100000,0.074627,0.850367,0.240342
276496,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},"The substances isoflurane, desflurane, nitrous...",Desflurane is used for what?,0.000000,0.315789,0.119048,0.864587,0.190536
270125,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What does phycoerytherin appear in?,phycoerytherin is one of the pigments that mak...,0.000000,0.142857,0.234375,0.867001,0.168940
280753,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},Heliculture is the farming of what for food?,What is heliciculture?,0.000000,0.181818,0.176471,0.882001,0.122069

### BERTScore < USE

All Models: BERScore < USE

In [ ]:
# Find predictions with semantic metric score differences

sem_diff = clean_eval_df[
    (clean_eval_df["bertscore-f1"] <= 0.73)  # top 25th percentile bertscore
    & (clean_eval_df["use"] >= 0.68)   # bottom 25th percentile use 
]

sem_diff = sem_diff.sort_values(by="bertscore-f1", ascending=False)

sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
10484,bart_nq_squad,bart,nq,squad,{'defaults': True},How many pounds of steam per kilowatt hour doe...,what is the weight of a steam engine,0.0,0.272727,0.139860,0.729795,0.681846
166068,T5_nq_triviaqa,T5,nq,triviaqa,{'defaults': True},What pope resigned in 2013?,who was the last pope to leave the pontificate,0.0,0.142857,0.079365,0.729795,0.690938
258358,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},what is the number of total presidential elect...,how many electors are there in the united states,0.0,0.111111,0.111111,0.729511,0.697076
123714,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Which running back did the Panthers waive?,who played for the panthers last year,0.0,0.285714,0.323488,0.729367,0.689400
200551,T5_squad_nq,T5,squad,nq,{'defaults': True},when did lynyrd skynyrd's plane crash happen,When did the Convair CV-240 crash?,0.0,0.400000,0.323488,0.729049,0.683831
...,...,...,...,...,...,...,...,...,...,...,...,...
229486,T5_triviaqa_nq,T5,triviaqa,nq,{'defaults': True},when did lionel messi play his first game for ...,The Messi family moved to Camp Nou in which year?,0.0,0.100000,0.049505,0.694685,0.692701
158827,T5_nq_squad,T5,nq,squad,{'defaults': True},Who did Emma Marry?,who was the king of england who married emma i...,0.0,0.266667,0.267857,0.694451,0.756505
23063,bart_nq_triviaqa,bart,nq,triviaqa,{'defaults': True},Which of England's 1966 World Cup winning foot...,who played for fulham in the premier league,0.0,0.347826,0.246711,0.694070,0.720818
154927,T5_nq_squad,T5,nq,squad,{'defaults': True},What were the win/loss game stats for the Denv...,how many times did the broncos win the super bowl,0.0,0.230769,0.097403,0.690972,0.680442
163296,T5_nq_triviaqa,T5,nq,triviaqa,{'defaults': True},Author J.R.R. Tolkien was born in which country?,where did the last name tolkien come from,0.0,0.111111,0.051020,0.676919,0.710970

In [ ]:
# Convert to Latex


# Take random two scoring ones
sem_diff = shuffle(sem_diff).head(2)

# Printe entire text
with pd.option_context("max_colwidth", 1000):
    print (sem_diff[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                target &                                prediction \\
\midrule
              Who won Super Bowl XLIX? & who did the broncos play in the superbowl \\
what is the role of hcl in the stomach &           What does hydrochloric acid do? \\
\bottomrule
\end{tabular}

BART Model: BERScore < USE

In [ ]:
# Find BART predictions with semantic metric score differences

bart_sem_diff = bart_df[
    (bart_df["trained_on"] == "amalgam")
    & (bart_df["bertscore-f1"] <= 0.73)  # top 25th percentile bertscore
    & (bart_df["use"] >= 0.68)   # bottom 25th percentile use 
]

bart_sem_diff = bart_sem_diff.sort_values(by="use", ascending=False)

bart_sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
125783,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What was the number of times the Denver Bronco...,how many times have the broncos been to the su...,0.0,0.250000,0.092166,0.718619,0.827251
115782,bart_amalgam_nq,bart,amalgam,nq,{'defaults': True},where does us highway 1 start and end,where is the longest highway in the united states,0.0,0.235294,0.123457,0.710291,0.708976
115573,bart_amalgam_nq,bart,amalgam,nq,{'defaults': True},when does season 7 game of thrones dvd release,when does the new season of the walking dead c...,0.0,0.400000,0.343071,0.721894,0.707510
132996,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Who won Super Bowl XLIX?,who did the broncos play in the superbowl,0.0,0.153846,0.080645,0.709131,0.704499
128982,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Who won Super Bowl XLIX?,who did the broncos play in the superbowl,0.0,0.153846,0.080645,0.709131,0.704499
123714,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},Which running back did the Panthers waive?,who played for the panthers last year,0.0,0.285714,0.323488,0.729367,0.689400

T5 Model: BERScore < USE

In [ ]:
# Find T5 predictions with semantic metric score differences

t5_sem_diff = t5_df[
    (t5_df["trained_on"] == "amalgam")
    & (t5_df["bertscore-f1"] <= 0.73)  # top 25th percentile bertscore
    & (t5_df["use"] >= 0.68)   # bottom 25th percentile use
]

t5_sem_diff = t5_sem_diff.sort_values(by="use", ascending=False)

t5_sem_diff

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
258767,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},who will take the throne after the queen dies,who is the heir apparent of queen elizabeth II,0.0,0.333333,0.166667,0.728162,0.701911
258358,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},what is the number of total presidential elect...,how many electors are there in the united states,0.0,0.111111,0.111111,0.729511,0.697076
259720,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},when is the first a revealed in pretty little ...,when does mona vanderwaal become a,0.0,0.250000,0.104167,0.714545,0.691913
259792,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},who sings the rap in baby by justin bieber,who sings baby baby baby oh i thought you woul...,0.0,0.272727,0.271868,0.704157,0.684645
258817,T5_amalgam_nq,T5,amalgam,nq,{'defaults': True},what is the role of hcl in the stomach,What does hydrochloric acid do?,0.0,0.142857,0.057471,0.727882,0.680623

## All Perfect Scores

In [ ]:
# Find BART predictions with all metric scores of 100

bart_df_perf = bart_df[
    (bart_df["bleu"] >= 0.99)
    & (bart_df["rougeL"] >= 0.99)
    & (bart_df["meteor"] >= 0.99)
    & (bart_df["bertscore-f1"] >= 0.99)
    & (bart_df["use"] >= 0.99)
]

bart_df_perf = bart_df_perf.sort_values(by="use", ascending=False)

bart_df_perf

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
126408,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},When was the 8-4-4 system launched?,When was the 8-4-4 system launched?,1.0,1.0,0.998542,1.0,1.000000
69887,bart_squad_squad,bart,squad,squad,{'defaults': True},How often do Parliament elections take place?,How often do Parliament elections take place?,1.0,1.0,0.999023,1.0,1.000000
69150,bart_squad_squad,bart,squad,squad,{'defaults': True},When was the 8-4-4 system launched?,When was the 8-4-4 system launched?,1.0,1.0,0.998542,1.0,1.000000
125247,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},When did Ronald Robinson die?,When did Ronald Robinson die?,1.0,1.0,0.997685,1.0,1.000000
74609,bart_squad_squad,bart,squad,squad,{'defaults': True},How often do Parliament elections take place?,How often do Parliament elections take place?,1.0,1.0,0.999023,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
119041,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},How did the album do on the charts?,How did the album do on the charts?,1.0,1.0,0.999314,1.0,0.999999
66602,bart_squad_squad,bart,squad,squad,{'defaults': True},When was the University Library founded?,When was the University Library founded?,1.0,1.0,0.998542,1.0,0.999999
123860,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},When was the University Library founded?,When was the University Library founded?,1.0,1.0,0.998542,1.0,0.999999
132600,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},What is the main gap to continued urbanization?,What is the main gap to continued urbanization?,1.0,1.0,0.999314,1.0,0.999999
2109,bart_nq_nq,bart,nq,nq,{'defaults': True},where did the battle of corinth take place,where did the battle of corinth take place,1.0,1.0,0.999023,1.0,0.999999

In [ ]:
# Find T5 predictions with all metric scores of 100

t5_df_perf = t5_df[
    (t5_df["bleu"] >= 0.99)
    & (t5_df["rougeL"] >= 0.99)
    & (t5_df["meteor"] >= 0.99)
    & (t5_df["bertscore-f1"] >= 0.99)
    & (t5_df["use"] >= 0.99)
]

t5_df_perf = t5_df_perf.sort_values(by="use", ascending=False)

t5_df_perf

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
274775,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},Who did Philip I want to marry?,Who did Philip I want to marry?,1.0,1.0,0.999023,1.0,1.000000
217754,T5_squad_squad,T5,squad,squad,{'defaults': True},How often do Parliament elections take place?,How often do Parliament elections take place?,1.0,1.0,0.999023,1.0,1.000000
270290,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},How often do Parliament elections take place?,How often do Parliament elections take place?,1.0,1.0,0.999023,1.0,1.000000
269553,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},When was the 8-4-4 system launched?,When was the 8-4-4 system launched?,1.0,1.0,0.998542,1.0,1.000000
213032,T5_squad_squad,T5,squad,squad,{'defaults': True},How often do Parliament elections take place?,How often do Parliament elections take place?,1.0,1.0,0.999023,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
272177,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},Who organized the trees of the Amazon into fou...,Who organized the trees of the Amazon into fou...,1.0,1.0,0.999624,1.0,1.000000
271652,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What was Joseph Haas arrested for?,What was Joseph Haas arrested for?,1.0,1.0,0.998542,1.0,1.000000
275745,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What is the main gap to continued urbanization?,What is the main gap to continued urbanization?,1.0,1.0,0.999314,1.0,0.999999
209747,T5_squad_squad,T5,squad,squad,{'defaults': True},When was the University Library founded?,When was the University Library founded?,1.0,1.0,0.998542,1.0,0.999999
267005,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},When was the University Library founded?,When was the University Library founded?,1.0,1.0,0.998542,1.0,0.999999

### Examples of Perfect Semantic but NOT Lexical Scores

Note: There were no examples of perfect lexical but not semantic scores.

In [ ]:
# Find BART predictions with all metric scores of 100

bart_df_perf = bart_df[
    (bart_df["bleu"] < 0.99)
    & (bart_df["rougeL"] < 0.99)
    & (bart_df["meteor"] < 0.99)
    & (bart_df["bertscore-f1"] >= 0.99)
    & (bart_df["use"] >= 0.99)
]

bart_df_perf = bart_df_perf.sort_values(by="use", ascending=False)

bart_df_perf

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
74375,bart_squad_squad,bart,squad,squad,{'defaults': True},The European Court of Justice cannot uphold me...,The European Court of Justice cannot uphold me...,0.782542,0.923077,0.931973,0.996113,0.991793
131633,bart_amalgam_squad,bart,amalgam,squad,{'defaults': True},The European Court of Justice cannot uphold me...,The European Court of Justice cannot uphold me...,0.782542,0.923077,0.931973,0.996113,0.991793
73834,bart_squad_squad,bart,squad,squad,{'defaults': True},What kind of protists are Euglenophytes?,What type of protists are Euglenophytes?,0.643459,0.833333,0.841270,0.990525,0.991606
115517,bart_amalgam_nq,bart,amalgam,nq,{'defaults': True},how many lines of symmetry are there in a equi...,how many lines of symmetry are there in an equ...,0.741945,0.909091,0.905455,0.997177,0.991213

In [ ]:
# Find T5 predictions with all metric scores of 100

t5_df_perf = t5_df[
    (t5_df["bleu"] < 0.99)
    & (t5_df["rougeL"] < 0.99)
    & (t5_df["meteor"] < 0.99)
    & (t5_df["bertscore-f1"] >= 0.99)
    & (t5_df["use"] >= 0.99)
]

t5_df_perf = t5_df_perf.sort_values(by="use", ascending=False)

t5_df_perf

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
267661,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What must the adoption of laws which will have...,What must the adoption of laws that will have ...,0.815355,0.933333,0.936389,0.995413,0.992263
216979,T5_squad_squad,T5,squad,squad,{'defaults': True},What kind of protists are Euglenophytes?,What type of protists are Euglenophytes?,0.643459,0.833333,0.841270,0.990525,0.991606
274237,T5_amalgam_squad,T5,amalgam,squad,{'defaults': True},What kind of protists are Euglenophytes?,What type of protists are euglenophytes?,0.000000,0.833333,0.841270,0.990525,0.991606

### Specific example of perfect semantic but not lexical

In [ ]:
spec_ex = clean_eval_df[
    (clean_eval_df["target"] == "What kind of protists are Euglenophytes?")
    & (clean_eval_df["bertscore-f1"] >= 0.99)
    & (clean_eval_df["use"] >= 0.99)
]

spec_ex = spec_ex[["nickname", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

spec_ex

,nickname,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
73834,bart_squad_squad,What kind of protists are Euglenophytes?,What type of protists are Euglenophytes?,0.643459,0.833333,0.84127,0.990525,0.991606
216979,T5_squad_squad,What kind of protists are Euglenophytes?,What type of protists are Euglenophytes?,0.643459,0.833333,0.84127,0.990525,0.991606
274237,T5_amalgam_squad,What kind of protists are Euglenophytes?,What type of protists are euglenophytes?,0.000000,0.833333,0.84127,0.990525,0.991606

In [ ]:
# Convert to Latex
print(spec_ex.to_latex(index=False))

\begin{tabular}{lllrrrrr}
\toprule
        nickname &                                   target &                               prediction &     bleu &   rougeL &  meteor &  bertscore-f1 &      use \\
\midrule
bart\_squad\_squad & What kind of protists are Euglenophytes? & What type of protists are Euglenophytes? & 0.643459 & 0.833333 & 0.84127 &      0.990525 & 0.991606 \\
  T5\_squad\_squad & What kind of protists are Euglenophytes? & What type of protists are Euglenophytes? & 0.643459 & 0.833333 & 0.84127 &      0.990525 & 0.991606 \\
T5\_amalgam\_squad & What kind of protists are Euglenophytes? & What type of protists are euglenophytes? & 0.000000 & 0.833333 & 0.84127 &      0.990525 & 0.991606 \\
\bottomrule
\end{tabular}

## Examples of High Semantic but Low Lexical

In [9]:
# Find predictions with high semantic and low lexical scores

hi_sem_low_lex = clean_eval_df[
    (clean_eval_df["bleu"] < 0.1)  # bottom 25th percentile bleu
    & (clean_eval_df["rougeL"] < 0.13)  # bottom 25th percentile rougeL
    & (clean_eval_df["meteor"] < 0.10)  # bottom 25th percentile meteor
    & (clean_eval_df["bertscore-f1"] >= 0.85)  # top 25th percentile bertscore
    & (clean_eval_df["use"] >= 0.67)   # top 25th percentile use
]

hi_sem_low_lex = hi_sem_low_lex.sort_values(by="use", ascending=False)

hi_sem_low_lex

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
35171,bart_quac_quac,bart,quac,quac,{'defaults': True},How did she die?,What was her cause of death?,0.0,0.000,0.096154,0.855320,0.754843
121058,bart_amalgam_quac,bart,amalgam,quac,{'defaults': True},How did she die?,What was the cause of her death?,0.0,0.000,0.094340,0.851208,0.705527
264203,T5_amalgam_quac,T5,amalgam,quac,{'defaults': True},How did she die?,What was the cause of her death?,0.0,0.000,0.094340,0.851208,0.705527
37325,bart_quac_squad,bart,quac,squad,{'defaults': True},What was the total number of patents that Tesl...,How many patents did he have?,0.0,0.125,0.094340,0.862127,0.687061

In [19]:
# Find predictions with high semantic and low lexical scores

hi_sem_low_lex = clean_eval_df[
    (clean_eval_df["rougeL"] < 0.13)  # bottom 25th percentile rougeL
    & (clean_eval_df["meteor"] < 0.10)  # bottom 25th percentile meteor
    & ((clean_eval_df["bertscore-f1"] >= 0.85) | (clean_eval_df["use"] >= 0.67))   # top 25th percentile use
   # & (clean_eval_df["trained_on"] == "amalgam")   # this removes a lot of the dup rows for questions generated
]   # did not inlcude bleu condition because causing issues returning  enough samples... bleu is funky

hi_sem_low_lex = hi_sem_low_lex.sort_values(by="use", ascending=False)
# Multiply scores by 100
hi_sem_low_lex[["bleu", "rougeL", "meteor", "bertscore-f1", "use"]] = hi_sem_low_lex[["bleu", "rougeL", "meteor", "bertscore-f1", "use"]].mul(100).round(2)
hi_sem_low_lex[["target", "prediction"]] = hi_sem_low_lex[["target", "prediction"]]

hi_sem_low_lex = hi_sem_low_lex[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

hi_sem_low_lex

,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
202524,who is beauty and the beast written by,Who wrote La Belle et la Bête?,0.0,12.50,6.25,71.57,82.44
9511,What is the record number of touchdowns Cam Ne...,how many touchdowns did the carolina panthers ...,0.0,9.52,8.47,75.88,77.45
28942,what is the first basic process in the light r...,How does photosynthesis begin?,0.0,12.50,4.42,80.56,77.28
57571,what is the first basic process in the light r...,How does photosynthesis begin?,0.0,12.50,4.42,80.56,77.28
160891,On what date was the record low temperature in...,when did fresno get its highest temperature,0.0,11.76,9.43,81.11,77.05
...,...,...,...,...,...,...,...
127146,Who explained that inertial reference frames e...,Who extended the principle of inertia further?,0.0,10.00,7.46,85.04,24.03
270291,Who explained that inertial reference frames e...,Who extended the principle of inertia further?,0.0,10.00,7.46,85.04,24.03
213033,Who explained that inertial reference frames e...,Who extended the principle of inertia further?,0.0,10.00,7.46,85.04,24.03
245183,How are ergänzungsschulen funded?,"s, fees, and what else? What does a Ergänzungs...",0.0,12.50,8.47,86.71,13.26
238618,What do Plastoglobuli exchange contents with?,The plastoglobulus is anchored to which network?,0.0,0.00,7.04,86.28,6.68

In [20]:
# Convert to Latex
print(hi_sem_low_lex.to_latex(index=False))

# Print entire text
with pd.option_context("max_colwidth", 1000):
    print(hi_sem_low_lex[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]].to_latex(index=False))

\begin{tabular}{llrrrrr}
\toprule
                                            target &                                         prediction &  bleu &  rougeL &  meteor &  bertscore-f1 &   use \\
\midrule
            who is beauty and the beast written by &                     Who wrote La Belle et la Bête? &   0.0 &   12.50 &    6.25 &         71.57 & 82.44 \\
What is the record number of touchdowns Cam New... & how many touchdowns did the carolina panthers h... &   0.0 &    9.52 &    8.47 &         75.88 & 77.45 \\
what is the first basic process in the light re... &                     How does photosynthesis begin? &   0.0 &   12.50 &    4.42 &         80.56 & 77.28 \\
what is the first basic process in the light re... &                     How does photosynthesis begin? &   0.0 &   12.50 &    4.42 &         80.56 & 77.28 \\
On what date was the record low temperature in ... &        when did fresno get its highest temperature &   0.0 &   11.76 &    9.43 &         81.11 & 77.05 \\
After he left Barcelona, football manager Pep G... &          who is guardiola the manager of barcelona &   0.0 &    8.33 &    8.43 &         81.55 & 77.03 \\
              How large are Cytoplasmic ribosomes? &         what is the size of a chloroplast ribosome &   0.0 &    0.00 &    8.06 &         84.11 & 76.81 \\
What was the nationality of composer Frederic C... &                where did frédéric chopin come from &   0.0 &   12.50 &    5.75 &         80.00 & 76.61 \\
Which grape is used to produce top-quality Burg... &          what kind of grapes are grown in burgundy &   0.0 &   10.53 &    9.35 &         80.96 & 76.23 \\
How much rain per year does Fresno get on average? & what is the average precipitation in fresno cal... &   0.0 &   11.11 &    9.35 &         78.41 & 75.93 \\
Which planet weighs more than all the other pla... &            What planet is twice as large as Earth? &   0.0 &    9.09 &    6.94 &         82.55 & 75.66 \\
                                  How did she die? &                       What was her cause of death? &   0.0 &    0.00 &    9.62 &         85.53 & 75.48 \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? &   0.0 &    9.09 &    6.25 &         80.22 & 75.20 \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? &   0.0 &    9.09 &    6.25 &         80.22 & 75.20 \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? &   0.0 &    9.09 &    6.25 &         80.22 & 75.20 \\
What was the number of 17 interceptions that Pe... &             how many touchdowns did Manning throw? &   0.0 &    9.09 &    6.25 &         80.22 & 75.20 \\
What was the number of 17 interceptions that Pe... & how many touchdowns did manning throw in his ca... &   0.0 &    8.00 &    3.09 &         76.28 & 74.95 \\
What vehicle did Doctor Who use for his escape ... &                    What is the name of the TARDIS? &   0.0 &   11.11 &    8.62 &         75.65 & 74.92 \\
Which band released a 2001 album entitled ‘Amne... &       what was the name of radiohead's first album &   0.0 &   11.76 &    4.63 &         73.78 & 74.70 \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? &   0.0 &   11.76 &    9.17 &         74.78 & 74.70 \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? &   0.0 &   11.76 &    9.17 &         74.78 & 74.70 \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? &   0.0 &   11.76 &    9.17 &         74.78 & 74.70 \\
What is the fictional location of the tv soap ‘... &         where does eastenders take place in london &   0.0 &   11.76 &    4.03 &         74.94 & 74.27 \\
"Who produces the perfumes ""Opium"" and ""Rive... &          Opium is a perfume made by which company? &   0.0 &   12.50 &    8.33 &         76.54 & 73.46 \\
What was the number of 17 interceptions that Pe... &      how many touchdowns did manning throw in 2018 &   0.0 &    8.33 &    3.11 &         76.47 & 73.39 \\
        what is the population of st petersburg fl & How many people lived in Saint Petersburg in 2015? &   0.0 &   11.76 &    6.10 &         78.74 & 73.23 \\
From which common English tree are cricket stum... &    what kind of wood is used for stumps in cricket &   0.0 &   10.00 &    9.17 &         79.89 & 73.04 \\
Which US comic superhero has the real name Stev... &              who is the first super hero in comics &   0.0 &   11.11 &    9.35 &         77.78 & 72.87 \\
The Amazon rainforest makes up what amount of E... &                    How many rainforests are there? &   0.0 &   12.50 &    8.77 &         84.49 & 72.82 \\
Which rival of the Mongols is suspected of inve... & Who did some Mongol authors believe stabbed Gen... &   0.0 &    7.14 &    7.58 &         83.08 & 72.70 \\
               What nationality is singer Rhianna? &           Rihanna Fenty was born in which country? &   0.0 &    0.00 &    8.06 &         77.33 & 72.64 \\
Luzon and Mindanao are the two largest islands ... & What is the official name of the archipelago of... &   0.0 &    9.09 &    8.33 &         78.99 & 72.59 \\
In which film series would you expect to film K... &           what book is katniss in the hunger games &   0.0 &    9.09 &    6.99 &         76.92 & 72.07 \\
        Which country was invaded by Iraq in 1990? &   where did the iraq invasion of kuwait take place &   0.0 &   11.76 &    5.56 &         77.62 & 71.91 \\
In which film series would you expect to film K... &        what book is katniss in in the hunger games &   0.0 &    8.70 &    6.94 &         76.31 & 71.90 \\
What was the number of 17 interceptions that Pe... &         How many touchdowns did Eli Manning throw? &   0.0 &    8.70 &    6.21 &         81.06 & 71.88 \\
when did starbucks become a publicly traded com... & Which year was the Starbucks IPO on the stock m... &   0.0 &   11.11 &    6.02 &         77.21 & 71.83 \\
From which country was Fulgencio Batista ousted... &        where did batista become president of cuban &   0.0 &   12.50 &    5.15 &         78.56 & 71.62 \\
              Which tribes did Genghis Khan unite? &                              Who were the Mongols? &   0.0 &    0.00 &    7.35 &         78.48 & 71.57 \\
The left side of the heart pumps blood to all p... &             What other organs does the heart pump? &   0.0 &   12.50 &    9.96 &         79.80 & 71.53 \\
What, generally, is the par on a 300 yard golf ... &                   how many holes are there in golf &   0.0 &   11.11 &    7.52 &         78.14 & 71.35 \\
Which World War 2 American general was known as... & what was the name of the us general who served ... &   0.0 &    8.70 &    7.75 &         78.12 & 71.32 \\
         name a food you might eat on thanksgiving & what is the main ingredient of thanksgiving dinner &   0.0 &   12.50 &    6.25 &         77.62 & 71.29 \\
     when did marathon change its name to snickers &     In which year was the Snickers brand launched? &   0.0 &   12.50 &    6.17 &         78.26 & 71.18 \\
  Author J.R.R. Tolkien was born in which country? &          where did the last name tolkien come from &   0.0 &   11.11 &    5.10 &         67.69 & 71.10 \\
                                    how did he die &                   What was the cause of his death? &   0.0 &    0.00 &    0.00 &         75.56 & 71.09 \\
  Where did Tesla look for investors prior to WWI? & : before World War I, Tesla sought funding from... &   0.0 &    9.09 &    9.43 &         80.09 & 70.99 \\
        Which Tsar of Russia ruled from 1682-1725? &                 Who proclaimed the Russian Empire? &   0.0 &    0.00 &    6.41 &         79.55 & 70.82 \\
        Which Tsar of Russia ruled from 1682-1725? &                 Who proclaimed the Russian Empire? &   0.0 &    0.00 &    6.41 &         79.55 & 70.82 \\
Which Apollo mission, which was launched on Jul... &                           What year was Apollo 11? &   0.0 &    8.00 &    6.76 &         75.39 & 70.67 \\
Which planet in our solar system has the shorte... &                      What other planets are there? &   0.0 &    0.00 &    9.52 &         79.74 & 70.66 \\
What was the overly generous royalty amount tha... &                         How much did he pay Tesla? &   0.0 &   11.11 &    8.06 &         83.23 & 70.62 \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Bugs Bunny in the Looney Tunes carto... &   0.0 &   10.00 &    5.97 &         76.68 & 70.61 \\
                                  How did she die? &                   What was the cause of her death? &   0.0 &    0.00 &    9.43 &         85.12 & 70.55 \\
                                  How did she die? &                   What was the cause of her death? &   0.0 &    0.00 &    9.43 &         85.12 & 70.55 \\
What was the first name of Mr. Ferrari, the fou... &                               Who founded Ferrari? &   0.0 &   11.11 &    6.37 &         79.25 & 70.54 \\
What year did Doctor Who finally return to tele... & when was the last time dr who had a christmas s... &   0.0 &   10.00 &    9.90 &         73.90 & 70.43 \\
         Which fruit is known as ananas in French? &            what is the name of the pineapple plant &   0.0 &   12.50 &    5.62 &         75.34 & 70.42 \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Bugs Bunny in the Looney Tunes and M... &   0.0 &   12.90 &    6.82 &         76.64 & 70.36 \\
         Which fruit is known as ananas in French? &         what is the scientific name of a pineapple &   0.0 &   12.50 &    5.62 &         74.13 & 70.34 \\
Which World war 2 American general was nickname... & what was the name of the us general who served ... &   0.0 &    9.09 &    7.75 &         77.32 & 70.26 \\
Which young general did Genghis Khan send to co... &       who led the mongols in the battle of kuchlug &   0.0 &    0.00 &    0.00 &         74.05 & 70.24 \\
In 'Scarface' which character was played by Al ... &           who played mr. corleone in the godfather &   0.0 &   12.50 &    9.43 &         75.10 & 70.24 \\
What is the most rainfall recorded in a 24 hour... &           how much rain does fresno get in one day &   0.0 &    9.09 &    7.41 &         77.01 & 70.21 \\
What year is the earliest traces of the color C... &           when did red start being used in harvard &   0.0 &   10.00 &    8.00 &         75.77 & 70.19 \\
           Odysseus was King of which Greek state? & where did the odyssey take place in greek mytho... &   0.0 &   12.50 &    6.17 &         72.90 & 70.17 \\
Which young general did Genghis Khan send to co... &            who led the mongol army against kuchlug &   0.0 &    0.00 &    0.00 &         75.63 & 70.08 \\
Marat, Robespierre, Danton are names associated... & what revolution did maximilian robespierre lead in &   0.0 &    8.70 &    5.62 &         75.81 & 70.03 \\
Which cartoon title character has a friend call... &     who is the captain in the adventures of tintin &   0.0 &   10.53 &    4.63 &         75.84 & 70.02 \\
Among whom was Genghis Khan's empire split afte... &        who divided the mongol empire into khanates &   0.0 &   11.11 &    4.35 &         76.87 & 69.99 \\
       what happened to western rome after it fell &              what was the fall of the roman empire &   0.0 &   12.50 &    6.25 &         80.58 & 69.96 \\
       how much did disneyland paris cost to build & What was the construction budget for the Euro D... &   0.0 &    0.00 &    5.95 &         79.07 & 69.82 \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... &          who voiced bugs bunny in the looney tunes &   0.0 &   10.34 &    5.09 &         75.96 & 69.79 \\
In what year did Lavoisier publish his work on ... & when was the book sur la combustion en général ... &   0.0 &    9.09 &    9.17 &         75.08 & 69.77 \\
What are we unsure of about how chloroplasts ma... & where does methionine come from in the chloroplast &   0.0 &   10.53 &    8.62 &         83.92 & 69.53 \\
What was the name given to the German annexatio... &        when did austria become a member of germany &   0.0 &    9.52 &    7.46 &         73.44 & 69.39 \\
Which boxer fought Mohammed Ali in the fight kn... & Who was the third and final boxing match betwee... &   0.0 &    7.69 &    9.55 &         78.35 & 69.38 \\
  Who bought Chelsea football club for £1 in 1982? & What was the name of the former owner of Chelse... &   0.0 &    9.52 &    9.71 &         77.83 & 69.37 \\
What is the next in the series: Nigeria, Sierra... & Which African country is bordered by Botswana, ... &   0.0 &   12.90 &    4.98 &         76.57 & 69.34 \\
"Which game has been played in England since Tu... & what is the name of the first baseball game played &   0.0 &   10.81 &    9.23 &         74.86 & 69.30 \\
             when did goku first go super saiyan 4 & What was the name of the battle between Goku an... &   0.0 &   10.53 &    5.95 &         73.38 & 69.30 \\
In which American state would you find Mt. Rush... &    where is mount rushmore located in south dakota &   0.0 &   11.76 &    9.35 &         76.49 & 69.27 \\
when did lionel messi play his first game for b... &  The Messi family moved to Camp Nou in which year? &   0.0 &   10.00 &    4.95 &         69.47 & 69.27 \\
How many people do historians estimate Genghis ... & what was the population of iran during the mong... &   0.0 &    8.70 &    3.68 &         75.21 & 69.20 \\
       where does half life 2 episode 2 take place &                    where do the gman and alyx meet &   0.0 &   12.50 &    5.68 &         73.19 & 69.11 \\
Which cigarette manufacturer used to boast of i... & What is the name of the cigarette company that ... &   0.0 &    8.33 &    9.55 &         77.76 & 69.10 \\
What is the population of the second largest ci... &               How many people live in Los Angeles? &   0.0 &   11.11 &    8.62 &         79.41 & 68.98 \\
Flourine, Bromine, Iodine and Chlorine are all ... &       what group is chlorine in the periodic table &   0.0 &   10.53 &    7.46 &         81.46 & 68.92 \\
    What was the black death originally blamed on? &           who caused the plague in the middle ages &   0.0 &   12.50 &    5.62 &         71.36 & 68.91 \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Wile E Coyote in the Looney Tunes ca... &   0.0 &   10.00 &    4.01 &         77.20 & 68.89 \\
Cayenne, after which the spicy condiment is nam... &       where does the name cayenne pepper come from &   0.0 &    9.09 &    9.32 &         78.54 & 68.86 \\
What was Edison's reply as to what Tesla didn't... &               where did the phrase tesla come from &   0.0 &    8.33 &    5.92 &         75.50 & 68.86 \\
Whom did Andy Murray defeat in the Wimbledon me... &         who won the 2017 us open tennis tournament &   0.0 &    9.09 &    3.50 &         78.09 & 68.86 \\
Whom did Andy Murray defeat in the Wimbledon me... &         who won the 2017 us open tennis tournament &   0.0 &    9.09 &    3.50 &         78.09 & 68.86 \\
To which order of monks does or did Pope Franci... &             Who were the first non-European popes? &   0.0 &    0.00 &    8.70 &         74.62 & 68.85 \\
what is the first basic process in the light re... &                    When does photosynthesis begin? &   0.0 &   12.50 &    4.42 &         79.47 & 68.84 \\
       what happened to western rome after it fell & what was the result of the fall of the roman em... &   0.0 &   10.53 &    6.02 &         79.55 & 68.74 \\
       what happened to western rome after it fell & what was the result of the fall of the roman em... &   0.0 &   10.53 &    6.02 &         79.55 & 68.74 \\
Sea World is in Mission Bay Park in which US city? &                where is seaworld san diego located &   0.0 &   11.76 &    4.39 &         78.84 & 68.73 \\
                   What delivery message was used  &                    How did Baran deliver messages? &   0.0 &    0.00 &    9.80 &         76.96 & 68.72 \\
                   What delivery message was used  &                    How did Baran deliver messages? &   0.0 &    0.00 &    9.80 &         76.96 & 68.72 \\
                   What delivery message was used  &                    How did Baran deliver messages? &   0.0 &    0.00 &    9.80 &         76.96 & 68.72 \\
What was the total number of patents that Tesla... &                      How many patents did he have? &   0.0 &   12.50 &    9.43 &         86.21 & 68.71 \\
By what name do Czechs know their capital city,... &         where is the capital of the czech republic &   0.0 &   11.11 &    8.62 &         72.71 & 68.66 \\
In which film series would you expect to film K... & where does peeta Mellark come from in the hunge... &   0.0 &    8.33 &    6.90 &         76.38 & 68.64 \\
How many people does the Greater Los Angeles Ar... &      what is the population of southern california &   0.0 &   11.76 &    4.72 &         75.78 & 68.62 \\
How many people does the Greater Los Angeles Ar... &      what is the population of southern california &   0.0 &   11.76 &    4.72 &         75.78 & 68.62 \\
Which two Mongol leaders added Persia to the Mo... &             who led the mongols in the caspian sea &   0.0 &   11.11 &    9.35 &         79.51 & 68.60 \\
Which two Mongol leaders added Persia to the Mo... &             who led the mongols in the caspian sea &   0.0 &   11.11 &    9.35 &         79.51 & 68.60 \\
The 2009 season of the Indian Premier League, a... &       where was the first t20 cricket match played &   0.0 &   12.12 &    7.69 &         73.45 & 68.58 \\
          Why did Luther condemn vows of celibacy? &  what was the reason for luther's refusal to marry &   0.0 &   11.76 &    6.10 &         76.08 & 68.57 \\
Kenneth Wolstenholme was a commentator for whic... &       what is the name of the football commentator &   0.0 &   12.50 &    5.62 &         72.34 & 68.47 \\
Sanskrit is an ancient language of which modern... &              where is sanskrit spoken in the world &   0.0 &   11.76 &    9.43 &         78.04 & 68.43 \\
what is the first basic process in the light re... &          where does photosynthesis begin in plants &   0.0 &   11.11 &    8.77 &         81.04 & 68.36 \\
What was Tesla's father's original plans for Te... &                  where did tesla go to high school &   0.0 &   11.76 &    4.72 &         72.28 & 68.34 \\
What is the population of the Inner Mongolia re... &                how many mongols are there in china &   0.0 &   11.11 &    4.35 &         78.45 & 68.31 \\
What is the population of the Inner Mongolia re... &                how many mongols are there in china &   0.0 &   11.11 &    4.35 &         78.45 & 68.31 \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... &          who played daffy duck in the looney tunes &   0.0 &   10.34 &    4.12 &         76.19 & 68.29 \\
     What did Shaq have to do with law enforcement &            How did O'Neal become a police officer? &   0.0 &   11.76 &    5.62 &         72.49 & 68.28 \\
                             Why were they rivals? &                        What was the rivalry about? &   0.0 &    0.00 &    9.80 &         83.54 & 68.28 \\
 In which children's TV series does Shaggy appear? &           what is the name of the scooby doo movie &   0.0 &    0.00 &    0.00 &         71.29 & 68.25 \\
           What part of the body produces insulin? &    where does insulin come from in type 2 diabetes &   0.0 &   12.50 &    6.17 &         73.85 & 68.19 \\
  Which 'superhero's' alter ego is 'Peter Parker'? & what is the name of the first spiderman comic book &   0.0 &   11.11 &    4.59 &         72.27 & 68.14 \\
How many inhabitants does the Los Angeles area ... &      what is the population of southern california &   0.0 &   12.50 &    5.15 &         76.99 & 68.05 \\

In [18]:
# Convert to Latex
print(hi_sem_low_lex[["target", "prediction"]].to_latex(index=False))

# Print entire text
with pd.option_context("max_colwidth", 1000):
    print (hi_sem_low_lex[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                            target &                                         prediction \\
\midrule
            who is beauty and the beast written by &                     Who wrote La Belle et la Bête? \\
What is the record number of touchdowns Cam New... & how many touchdowns did the carolina panthers h... \\
what is the first basic process in the light re... &                     How does photosynthesis begin? \\
what is the first basic process in the light re... &                     How does photosynthesis begin? \\
On what date was the record low temperature in ... &        when did fresno get its highest temperature \\
After he left Barcelona, football manager Pep G... &          who is guardiola the manager of barcelona \\
              How large are Cytoplasmic ribosomes? &         what is the size of a chloroplast ribosome \\
What was the nationality of composer Frederic C... &                where did frédéric chopin come from \\
Which grape is used to produce top-quality Burg... &          what kind of grapes are grown in burgundy \\
How much rain per year does Fresno get on average? & what is the average precipitation in fresno cal... \\
Which planet weighs more than all the other pla... &            What planet is twice as large as Earth? \\
                                  How did she die? &                       What was her cause of death? \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? \\
What was the number of 17 interceptions that Pe... &             How many touchdowns did Manning throw? \\
What was the number of 17 interceptions that Pe... &             how many touchdowns did Manning throw? \\
What was the number of 17 interceptions that Pe... & how many touchdowns did manning throw in his ca... \\
What vehicle did Doctor Who use for his escape ... &                    What is the name of the TARDIS? \\
Which band released a 2001 album entitled ‘Amne... &       what was the name of radiohead's first album \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? \\
Which band released a 2001 album entitled ‘Amne... &      What was the name of Radiohead's first album? \\
What is the fictional location of the tv soap ‘... &         where does eastenders take place in london \\
"Who produces the perfumes ""Opium"" and ""Rive... &          Opium is a perfume made by which company? \\
What was the number of 17 interceptions that Pe... &      how many touchdowns did manning throw in 2018 \\
        what is the population of st petersburg fl & How many people lived in Saint Petersburg in 2015? \\
From which common English tree are cricket stum... &    what kind of wood is used for stumps in cricket \\
Which US comic superhero has the real name Stev... &              who is the first super hero in comics \\
The Amazon rainforest makes up what amount of E... &                    How many rainforests are there? \\
Which rival of the Mongols is suspected of inve... & Who did some Mongol authors believe stabbed Gen... \\
               What nationality is singer Rhianna? &           Rihanna Fenty was born in which country? \\
Luzon and Mindanao are the two largest islands ... & What is the official name of the archipelago of... \\
In which film series would you expect to film K... &           what book is katniss in the hunger games \\
        Which country was invaded by Iraq in 1990? &   where did the iraq invasion of kuwait take place \\
In which film series would you expect to film K... &        what book is katniss in in the hunger games \\
What was the number of 17 interceptions that Pe... &         How many touchdowns did Eli Manning throw? \\
when did starbucks become a publicly traded com... & Which year was the Starbucks IPO on the stock m... \\
From which country was Fulgencio Batista ousted... &        where did batista become president of cuban \\
              Which tribes did Genghis Khan unite? &                              Who were the Mongols? \\
The left side of the heart pumps blood to all p... &             What other organs does the heart pump? \\
What, generally, is the par on a 300 yard golf ... &                   how many holes are there in golf \\
Which World War 2 American general was known as... & what was the name of the us general who served ... \\
         name a food you might eat on thanksgiving & what is the main ingredient of thanksgiving dinner \\
     when did marathon change its name to snickers &     In which year was the Snickers brand launched? \\
  Author J.R.R. Tolkien was born in which country? &          where did the last name tolkien come from \\
                                    how did he die &                   What was the cause of his death? \\
  Where did Tesla look for investors prior to WWI? & : before World War I, Tesla sought funding from... \\
        Which Tsar of Russia ruled from 1682-1725? &                 Who proclaimed the Russian Empire? \\
        Which Tsar of Russia ruled from 1682-1725? &                 Who proclaimed the Russian Empire? \\
Which Apollo mission, which was launched on Jul... &                           What year was Apollo 11? \\
Which planet in our solar system has the shorte... &                      What other planets are there? \\
What was the overly generous royalty amount tha... &                         How much did he pay Tesla? \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Bugs Bunny in the Looney Tunes carto... \\
                                  How did she die? &                   What was the cause of her death? \\
                                  How did she die? &                   What was the cause of her death? \\
What was the first name of Mr. Ferrari, the fou... &                               Who founded Ferrari? \\
What year did Doctor Who finally return to tele... & when was the last time dr who had a christmas s... \\
         Which fruit is known as ananas in French? &            what is the name of the pineapple plant \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Bugs Bunny in the Looney Tunes and M... \\
         Which fruit is known as ananas in French? &         what is the scientific name of a pineapple \\
Which World war 2 American general was nickname... & what was the name of the us general who served ... \\
Which young general did Genghis Khan send to co... &       who led the mongols in the battle of kuchlug \\
In 'Scarface' which character was played by Al ... &           who played mr. corleone in the godfather \\
What is the most rainfall recorded in a 24 hour... &           how much rain does fresno get in one day \\
What year is the earliest traces of the color C... &           when did red start being used in harvard \\
           Odysseus was King of which Greek state? & where did the odyssey take place in greek mytho... \\
Which young general did Genghis Khan send to co... &            who led the mongol army against kuchlug \\
Marat, Robespierre, Danton are names associated... & what revolution did maximilian robespierre lead in \\
Which cartoon title character has a friend call... &     who is the captain in the adventures of tintin \\
Among whom was Genghis Khan's empire split afte... &        who divided the mongol empire into khanates \\
       what happened to western rome after it fell &              what was the fall of the roman empire \\
       how much did disneyland paris cost to build & What was the construction budget for the Euro D... \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... &          who voiced bugs bunny in the looney tunes \\
In what year did Lavoisier publish his work on ... & when was the book sur la combustion en général ... \\
What are we unsure of about how chloroplasts ma... & where does methionine come from in the chloroplast \\
What was the name given to the German annexatio... &        when did austria become a member of germany \\
Which boxer fought Mohammed Ali in the fight kn... & Who was the third and final boxing match betwee... \\
  Who bought Chelsea football club for £1 in 1982? & What was the name of the former owner of Chelse... \\
What is the next in the series: Nigeria, Sierra... & Which African country is bordered by Botswana, ... \\
"Which game has been played in England since Tu... & what is the name of the first baseball game played \\
             when did goku first go super saiyan 4 & What was the name of the battle between Goku an... \\
In which American state would you find Mt. Rush... &    where is mount rushmore located in south dakota \\
when did lionel messi play his first game for b... &  The Messi family moved to Camp Nou in which year? \\
How many people do historians estimate Genghis ... & what was the population of iran during the mong... \\
       where does half life 2 episode 2 take place &                    where do the gman and alyx meet \\
Which cigarette manufacturer used to boast of i... & What is the name of the cigarette company that ... \\
What is the population of the second largest ci... &               How many people live in Los Angeles? \\
Flourine, Bromine, Iodine and Chlorine are all ... &       what group is chlorine in the periodic table \\
    What was the black death originally blamed on? &           who caused the plague in the middle ages \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... & Who voiced Wile E Coyote in the Looney Tunes ca... \\
Cayenne, after which the spicy condiment is nam... &       where does the name cayenne pepper come from \\
What was Edison's reply as to what Tesla didn't... &               where did the phrase tesla come from \\
Whom did Andy Murray defeat in the Wimbledon me... &         who won the 2017 us open tennis tournament \\
Whom did Andy Murray defeat in the Wimbledon me... &         who won the 2017 us open tennis tournament \\
To which order of monks does or did Pope Franci... &             Who were the first non-European popes? \\
what is the first basic process in the light re... &                    When does photosynthesis begin? \\
       what happened to western rome after it fell & what was the result of the fall of the roman em... \\
       what happened to western rome after it fell & what was the result of the fall of the roman em... \\
Sea World is in Mission Bay Park in which US city? &                where is seaworld san diego located \\
                   What delivery message was used  &                    How did Baran deliver messages? \\
                   What delivery message was used  &                    How did Baran deliver messages? \\
                   What delivery message was used  &                    How did Baran deliver messages? \\
What was the total number of patents that Tesla... &                      How many patents did he have? \\
By what name do Czechs know their capital city,... &         where is the capital of the czech republic \\
In which film series would you expect to film K... & where does peeta Mellark come from in the hunge... \\
How many people does the Greater Los Angeles Ar... &      what is the population of southern california \\
How many people does the Greater Los Angeles Ar... &      what is the population of southern california \\
Which two Mongol leaders added Persia to the Mo... &             who led the mongols in the caspian sea \\
Which two Mongol leaders added Persia to the Mo... &             who led the mongols in the caspian sea \\
The 2009 season of the Indian Premier League, a... &       where was the first t20 cricket match played \\
          Why did Luther condemn vows of celibacy? &  what was the reason for luther's refusal to marry \\
Kenneth Wolstenholme was a commentator for whic... &       what is the name of the football commentator \\
Sanskrit is an ancient language of which modern... &              where is sanskrit spoken in the world \\
what is the first basic process in the light re... &          where does photosynthesis begin in plants \\
What was Tesla's father's original plans for Te... &                  where did tesla go to high school \\
What is the population of the Inner Mongolia re... &                how many mongols are there in china \\
What is the population of the Inner Mongolia re... &                how many mongols are there in china \\
The voice of Bugs Bunny, Daffy Duck, Porky Pig,... &          who played daffy duck in the looney tunes \\
     What did Shaq have to do with law enforcement &            How did O'Neal become a police officer? \\
                             Why were they rivals? &                        What was the rivalry about? \\
 In which children's TV series does Shaggy appear? &           what is the name of the scooby doo movie \\
           What part of the body produces insulin? &    where does insulin come from in type 2 diabetes \\
  Which 'superhero's' alter ego is 'Peter Parker'? & what is the name of the first spiderman comic book \\
How many inhabitants does the Los Angeles area ... &      what is the population of southern california \\
How many inhabitants does the Los Angeles area ... &      what is the population of southern california \\
            who played kelly taylor's mom on 90210 & What is the name of the mother of Kelly Walsh i... \\
Which human blood group can receive blood from ... &        What is the most common type of blood type? \\
Jose Mourinho was appointed manager of which fo... & What team did José Mourinho manage at in the 19... \\
        Which Tsar of Russia ruled from 1682-1725? &             who founded the russian empire in 1721 \\
In which English county was former British Prim... &                  where did thatcher live in the uk \\
In which U.S. State is the University of Harvar... &             where did harvard college get its name \\
In 'Brookside', which actress, later to become ... &              who played heather in brookside close \\
What became the last city on earth to experienc... &  where did the atomic bombings take place in japan \\
What was Manning's passer rating at the end of ... & How many points did Peyton Manning score in his... \\
        Which Tsar of Russia ruled from 1682-1725? &         who established the russian empire in 1721 \\
Which English football league team are known as... & what is the name of peterborough united footbal... \\
  Which 'superhero's' alter ego is 'Peter Parker'? & What is the name of the super-hero in the comic... \\
        Roald Dahl's BFG was a big, friendly what? &           what is the name of the giant in the bfg \\
        Roald Dahl's BFG was a big, friendly what? &           what is the name of the giant in the bFG \\
What is each section of ten beads on a rosary c... &            How many years are there in the Rosary? \\
What became the last city on earth to experienc... &      where did the bombing of hiroshima take place \\
How do centripetal forces act in relation to ve... &      what is the direction of the tangential force \\
Which young general did Genghis Khan send to co... &     Who commanded the Mongol army against Kuchlug? \\
               What was the date of Tesla's death? &             when did niota tesla die in new yorker \\
What year did Newton hold the number one draft ... & when was the first quarterback picked in the su... \\
What were the names of the founder of British c... &                           Who founded JCB in 1945? \\
What were the names of the founder of British c... &                           Who founded JCB in 1945? \\
What were the names of the founder of British c... &                           Who founded JCB in 1945? \\
What were the names of the founder of British c... &                           Who founded JCB in 1945? \\
Which boy band consists of Niall Horan, Zayn Ma... &                      who is niall from in x factor \\
How do Mongolians sometime describe their relat... &                   who is the father of the mongols \\
what is the number of total presidential electo... &         How many electors are there in each state? \\
Which group did Steve Marriot go on to form whe... &        What was the name of Steve Marriott's band? \\
Which group did Steve Marriot go on to form whe... &        What was the name of Steve Marriott's band? \\
Fossils found that were believed to be ctenopho... &     when did the first ctenophore fossils come out \\
What percentage of Scotland's voting population... &           How many people voted in the referendum? \\
    In what year did Savery patent his steam pump? &           when was the first steam engine invented \\
    In what year did Savery patent his steam pump? &           when was the first steam engine invented \\
what is the number of total presidential electo... &         How many electors are there in a US state? \\
       how much did disneyland paris cost to build &   what was the cost of the first disney theme park \\
Which group of around 200 Greek islands in the ... &                 where is mykonos located in greece \\
How old were Jimmi Hendrix, Janis Joplin and Ji... &                   What age did Kurt Cobain die at? \\
In which film series would you expect to film K... &             when does katniss win the hunger games \\
Which mythological creatures are half horse and... & What was the name of one of the mythical creatu... \\
who were the the continent of the americas name... &                   Who discovered America on a map? \\
Malaga airport serves which of the Spanish Costas? &           where is málaga airport located in spain \\
"""Torchwood"" was a spin-off of what popular T... & In which TV series did the character Jack Harkn... \\
Which human blood group can receive blood from ... &                What is the most common blood type? \\
Which human blood group can receive blood from ... &                What is the most common blood type? \\
What happens to the jellyfish nematocysts when ... &              How do ctenophores prey on jellyfish? \\
Which quadrilateral has one pair of parallel ed... &          what type of quadrilateral is a rectangle \\
               How many Kenyans are non-religious? & What percentage of Kenya's Muslim population is... \\
                      How large are Plastoglobuli? &               what is the size of a plastoglobulus \\
                      How big can ctenophora grow? &          What is the average size of a ctenophore? \\
                    How large can ctenophora grow? &   What is the maximum size of an adult ctenophore? \\
                    How large can ctenophora grow? &          What is the average size of a ctenophore? \\
                      How large are Plastoglobuli? &              what is the length of a plastoglobule \\
Ashkenazic and sephardic cuisines are associate... &                        What ethnicity is Sephardi? \\
      How long ago did cyanobacteria enter a cell? &                When was cyanobacterium discovered? \\
            Curacao was a colony of which country? &                          Where is Curaçao located? \\
                      Were their songs successful? &                       Did they release any albums? \\
                      Were their songs successful? &                       Did they release any albums? \\
What English chemist showed that fire only need... & who discovered that nitroaereus is necessary fo... \\
                      How large are Plastoglobuli? &           what is the diameter of a plastoglobulus \\
                 How are ergänzungsschulen funded? &    What does Ergungsschulen charge their students? \\

In [ ]:
# Convert to Latex
print(hi_sem_low_lex[["base_model", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]].to_latex(index=False))

\begin{tabular}{lllrrrrr}
\toprule
base\_model &                                             target &                       prediction &  bleu &  rougeL &   meteor &  bertscore-f1 &      use \\
\midrule
      bart &                                   How did she die? &     What was her cause of death? &   0.0 &   0.000 & 0.096154 &      0.855320 & 0.754843 \\
      bart &                                   How did she die? & What was the cause of her death? &   0.0 &   0.000 & 0.094340 &      0.851208 & 0.705527 \\
        T5 &                                   How did she die? & What was the cause of her death? &   0.0 &   0.000 & 0.094340 &      0.851208 & 0.705527 \\
      bart & What was the total number of patents that Tesla... &    How many patents did he have? &   0.0 &   0.125 & 0.094340 &      0.862127 & 0.687061 \\
\bottomrule
\end{tabular}

In [7]:
spec_ex = clean_eval_df[
    (clean_eval_df["target"] == "What country has slums known as favelas?")
   # & (clean_eval_df["nickname"] == "T5_nq_squad")
]

spec_ex = spec_ex[["nickname", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

spec_ex

,nickname,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
19091,bart_nq_triviaqa,What country has slums known as favelas?,where did the term favela come from,0.0,0.000000,0.063291,0.776472,0.619927
47720,bart_quac_triviaqa,What country has slums known as favelas?,Where was the favela located?,0.0,0.000000,0.128205,0.820271,0.631844
76349,bart_squad_triviaqa,What country has slums known as favelas?,Where is a favela located?,0.0,0.000000,0.128205,0.833733,0.654554
104978,bart_triviaqa_triviaqa,What country has slums known as favelas?,In which country would you find a favela?,0.0,0.133333,0.315501,0.826984,0.725211
133607,bart_amalgam_triviaqa,What country has slums known as favelas?,In which South American country would you find...,0.0,0.117647,0.307898,0.801692,0.691679
162236,T5_nq_triviaqa,What country has slums known as favelas?,where did the term favela come from,0.0,0.000000,0.063291,0.776472,0.619927
190865,T5_quac_triviaqa,What country has slums known as favelas?,Are there any other interesting aspects about ...,0.0,0.000000,0.060976,0.666607,0.092058
219494,T5_squad_triviaqa,What country has slums known as favelas?,What country did the military dictatorship pio...,0.0,0.235294,0.380271,0.834284,0.600600
248123,T5_triviaqa_triviaqa,What country has slums known as favelas?,What country is known as a favela?,0.0,0.571429,0.703125,0.899238,0.852276
276752,T5_amalgam_triviaqa,What country has slums known as favelas?,In which country would you find a favela?,0.0,0.133333,0.315501,0.826984,0.725211

## Examples of High Lexical but Low Semantic

In [21]:
# Find predictions with high semantic and low lexical scores

hi_lex_low_sem = clean_eval_df[
    (clean_eval_df["bleu"] >= 0.0)  #  bleu
    & (clean_eval_df["rougeL"] >= 0.43)  # top 25th percentile rougeL
    & (clean_eval_df["meteor"] >= 0.41)  # top 25th percentile meteor
    & (clean_eval_df["bertscore-f1"] < 0.73)  # bottom 25th percentile bertscore
    & (clean_eval_df["use"] < 0.3)   # bottom 25th percentile use
    # & (clean_eval_df["bertscore-f1"] < 0.73)  # top 25th percentile bertscore
    # & (clean_eval_df["use"] < 0.3)   # top 25th percentile use
]

hi_lex_low_sem = hi_lex_low_sem.sort_values(by="use", ascending=False)

# Multiply scores by 100
hi_lex_low_sem[["bleu", "rougeL", "meteor", "bertscore-f1", "use"]] = hi_lex_low_sem[["bleu", "rougeL", "meteor", "bertscore-f1", "use"]].mul(100).round(2)
hi_lex_low_sem[["target", "prediction"]] = hi_lex_low_sem[["target", "prediction"]]

hi_lex_low_sem = hi_lex_low_sem[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

hi_lex_low_sem

,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
152223,What was the forerunner of the modern-day IEEE?,who was the vice president of the eie,0.0,47.06,42.13,69.98,28.44
5397,What happened after the mass?,what happened to the president of the philippines,0.0,46.15,41.22,72.16,27.77
149879,What happened to the poor?,what was pepys's response to the plague,0.0,46.15,41.22,71.03,26.66
147979,What was the highlight of his career?,what was the goal of dare in salt lake city,0.0,47.06,45.73,72.59,26.09
149538,Who was at the conference?,who was the prime minister of australia at the...,0.0,44.44,47.11,67.51,25.36
159881,What is the exam at the end of Form Four?,what is the end of primary education in kenya,0.0,52.63,44.81,72.96,25.14
4834,What was the highlight of his career?,what was the purpose of salt lake city's dare ...,0.0,44.44,45.18,72.86,24.68
235050,What is the most interesting statistic in the ...,What is the common belief in Hong Kong that wo...,0.0,45.45,49.15,71.49,22.97
94938,What building is the most interesting of the l...,"What is the name of the university in Warsaw, ...",0.0,45.45,42.59,72.23,22.18
148449,What was the reaction to the event?,what was the name of the man in tiananmen square,0.0,47.06,45.73,72.47,20.84
5858,what was the concert for?,what was the theme song for pirates of the car...,0.0,53.33,49.32,71.09,20.51
167257,What is the inscription on the George Cross ?,what is the purpose of the gc,0.0,53.33,42.61,72.03,17.99
60002,What was the outcome,What was Keegan's two seasons at The Dell?,0.0,46.15,55.56,69.82,12.89

In [22]:
# Convert to Latex
print(hi_lex_low_sem.to_latex(index=False))

# Print entire text
with pd.option_context("max_colwidth", 1000):
    print(hi_lex_low_sem[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]].to_latex(index=False))

\begin{tabular}{llrrrrr}
\toprule
                                            target &                                         prediction &  bleu &  rougeL &  meteor &  bertscore-f1 &   use \\
\midrule
   What was the forerunner of the modern-day IEEE? &              who was the vice president of the eie &   0.0 &   47.06 &   42.13 &         69.98 & 28.44 \\
                     What happened after the mass? &  what happened to the president of the philippines &   0.0 &   46.15 &   41.22 &         72.16 & 27.77 \\
                        What happened to the poor? &            what was pepys's response to the plague &   0.0 &   46.15 &   41.22 &         71.03 & 26.66 \\
             What was the highlight of his career? &        what was the goal of dare in salt lake city &   0.0 &   47.06 &   45.73 &         72.59 & 26.09 \\
                        Who was at the conference? & who was the prime minister of australia at the ... &   0.0 &   44.44 &   47.11 &         67.51 & 25.36 \\
         What is the exam at the end of Form Four? &      what is the end of primary education in kenya &   0.0 &   52.63 &   44.81 &         72.96 & 25.14 \\
             What was the highlight of his career? & what was the purpose of salt lake city's dare p... &   0.0 &   44.44 &   45.18 &         72.86 & 24.68 \\
What is the most interesting statistic in the a... & What is the common belief in Hong Kong that wom... &   0.0 &   45.45 &   49.15 &         71.49 & 22.97 \\
What building is the most interesting of the la... & What is the name of the university in Warsaw, P... &   0.0 &   45.45 &   42.59 &         72.23 & 22.18 \\
               What was the reaction to the event? &   what was the name of the man in tiananmen square &   0.0 &   47.06 &   45.73 &         72.47 & 20.84 \\
                         what was the concert for? & what was the theme song for pirates of the cari... &   0.0 &   53.33 &   49.32 &         71.09 & 20.51 \\
     What is the inscription on the George Cross ? &                      what is the purpose of the gc &   0.0 &   53.33 &   42.61 &         72.03 & 17.99 \\
                              What was the outcome &         What was Keegan's two seasons at The Dell? &   0.0 &   46.15 &   55.56 &         69.82 & 12.89 \\
\bottomrule
\end{tabular}

\begin{tabular}{llrrrrr}
\toprule
                                                                      target &                                                             prediction &  bleu &  rougeL &  meteor &  bertscore-f1 &   use \\
\midrule
                             What was the forerunner of the modern-day IEEE? &                                  who was the vice president of the eie &   0.0 &   47.06 &   42.13 &         69.98 & 28.44 \\
                                               What happened after the mass? &                      what happened to the president of the philippines &   0.0 &   46.15 &   41.22 &         72.16 & 27.77 \\
                                                  What happened to the poor? &                                what was pepys's response to the plague &   0.0 &   46.15 &   41.22 &         71.03 & 26.66 \\
                                       What was the highlight of his career? &                            what was the goal of dare in salt lake city &   0.0 &   47.06 &   45.73 &         72.59 & 26.09 \\
                                                  Who was at the conference? &         who was the prime minister of australia at the time of the war &   0.0 &   44.44 &   47.11 &         67.51 & 25.36 \\
                                   What is the exam at the end of Form Four? &                          what is the end of primary education in kenya &   0.0 &   52.63 &   44.81 &         72.96 & 25.14 \\
                                       What was the highlight of his career? &                  what was the purpose of salt lake city's dare program &   0.0 &   44.44 &   45.18 &         72.86 & 24.68 \\
                      What is the most interesting statistic in the article? & What is the common belief in Hong Kong that women are the breadwinner? &   0.0 &   45.45 &   49.15 &         71.49 & 22.97 \\
What building is the most interesting of the late 19th-century architecture? &                  What is the name of the university in Warsaw, Poland? &   0.0 &   45.45 &   42.59 &         72.23 & 22.18 \\
                                         What was the reaction to the event? &                       what was the name of the man in tiananmen square &   0.0 &   47.06 &   45.73 &         72.47 & 20.84 \\
                                                   what was the concert for? &                   what was the theme song for pirates of the caribbean &   0.0 &   53.33 &   49.32 &         71.09 & 20.51 \\
                               What is the inscription on the George Cross ? &                                          what is the purpose of the gc &   0.0 &   53.33 &   42.61 &         72.03 & 17.99 \\
                                                        What was the outcome &                             What was Keegan's two seasons at The Dell? &   0.0 &   46.15 &   55.56 &         69.82 & 12.89 \\
\bottomrule
\end{tabular}

In [ ]:
# Convert to Latex
print(hi_lex_low_sem[["target", "prediction"]].to_latex(index=False))

# Print entire text
with pd.option_context("max_colwidth", 1000):
    print (hi_lex_low_sem[["target", "prediction"]].to_latex(index=False))

\begin{tabular}{ll}
\toprule
                                            target &                                         prediction \\
\midrule
   What was the forerunner of the modern-day IEEE? &              who was the vice president of the eie \\
                     What happened after the mass? &  what happened to the president of the philippines \\
                        What happened to the poor? &            what was pepys's response to the plague \\
             What was the highlight of his career? &        what was the goal of dare in salt lake city \\
                        Who was at the conference? & who was the prime minister of australia at the ... \\
         What is the exam at the end of Form Four? &      what is the end of primary education in kenya \\
             What was the highlight of his career? & what was the purpose of salt lake city's dare p... \\
What is the most interesting statistic in the a... & What is the common belief in Hong Kong that wom... \\
What building is the most interesting of the la... & What is the name of the university in Warsaw, P... \\
               What was the reaction to the event? &   what was the name of the man in tiananmen square \\
                         what was the concert for? & what was the theme song for pirates of the cari... \\
     What is the inscription on the George Cross ? &                      what is the purpose of the gc \\
                              What was the outcome &         What was Keegan's two seasons at The Dell? \\
\bottomrule
\end{tabular}

\begin{tabular}{ll}
\toprule
                                                                      target &                                                             prediction \\
\midrule
                             What was the forerunner of the modern-day IEEE? &                                  who was the vice president of the eie \\
                                               What happened after the mass? &                      what happened to the president of the philippines \\
                                                  What happened to the poor? &                                what was pepys's response to the plague \\
                                       What was the highlight of his career? &                            what was the goal of dare in salt lake city \\
                                                  Who was at the conference? &         who was the prime minister of australia at the time of the war \\
                                   What is the exam at the end of Form Four? &                          what is the end of primary education in kenya \\
                                       What was the highlight of his career? &                  what was the purpose of salt lake city's dare program \\
                      What is the most interesting statistic in the article? & What is the common belief in Hong Kong that women are the breadwinner? \\
What building is the most interesting of the late 19th-century architecture? &                  What is the name of the university in Warsaw, Poland? \\
                                         What was the reaction to the event? &                       what was the name of the man in tiananmen square \\
                                                   what was the concert for? &                   what was the theme song for pirates of the caribbean \\
                               What is the inscription on the George Cross ? &                                          what is the purpose of the gc \\
                                                        What was the outcome &                             What was Keegan's two seasons at The Dell? \\
\bottomrule
\end{tabular}

In [ ]:
spec_ex = clean_eval_df[
    (clean_eval_df["target"] == "Who was at the conference?")
    & (clean_eval_df["nickname"] == "T5_nq_quac")
]

spec_ex = spec_ex[["nickname", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

spec_ex

,nickname,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
149538,T5_nq_quac,Who was at the conference?,who was the prime minister of australia at the...,0.0,0.444444,0.471082,0.675146,0.25361

In [ ]:
# Convert to Latex
print(spec_ex[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]].to_latex(index=False))

\begin{tabular}{llrrrrr}
\toprule
                    target &                                         prediction &  bleu &   rougeL &   meteor &  bertscore-f1 &     use \\
\midrule
Who was at the conference? & who was the prime minister of australia at the ... &   0.0 & 0.444444 & 0.471082 &      0.675146 & 0.25361 \\
\bottomrule
\end{tabular}

In [ ]:
spec_ex = clean_eval_df[
    (clean_eval_df["target"] == "What is the exam at the end of Form Four?")
    & (clean_eval_df["nickname"] == "T5_nq_squad")
]

spec_ex = spec_ex[["nickname", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

spec_ex

,nickname,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
159881,T5_nq_squad,What is the exam at the end of Form Four?,what is the end of primary education in kenya,0.0,0.526316,0.448148,0.729596,0.251426

In [ ]:
# Convert to Latex
print(spec_ex[["target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]].to_latex(index=False))

\begin{tabular}{llrrrrr}
\toprule
                                   target &                                    prediction &  bleu &   rougeL &   meteor &  bertscore-f1 &      use \\
\midrule
What is the exam at the end of Form Four? & what is the end of primary education in kenya &   0.0 & 0.526316 & 0.448148 &      0.729596 & 0.251426 \\
\bottomrule
\end{tabular}

Check BLEU scores because looks like they are all 0..?

In [ ]:
bleu_zero = clean_eval_df[clean_eval_df["bleu"] >= 0.0001]

bleu_zero

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
1,bart_nq_nq,bart,nq,nq,{'defaults': True},whats the most liked picture on instagram 2018,what is the most liked picture on instagram,0.680375,0.750000,0.864796,0.932259,0.884909
5,bart_nq_nq,bart,nq,nq,{'defaults': True},when was the last time the los angeles lakers ...,when was the last time the lakers won a champi...,0.643219,0.909091,0.844068,0.962039,0.961726
6,bart_nq_nq,bart,nq,nq,{'defaults': True},where are trigger points located in the body,where are trigger points located in the body,1.000000,1.000000,0.999023,1.000000,1.000000
12,bart_nq_nq,bart,nq,nq,{'defaults': True},when was the last time anyone was on the moon,when was the last time the us went to the moon,0.403528,0.666667,0.566781,0.926440,0.904742
14,bart_nq_nq,bart,nq,nq,{'defaults': True},who wrote papa got a brand new bag,who sang papa got a brand new bag,0.707107,0.875000,0.864796,0.965819,0.852755
...,...,...,...,...,...,...,...,...,...,...,...,...
286259,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},What is the common name for the perennial-flow...,What is the common name of the African violet?,0.349833,0.600000,0.529487,0.844998,0.599724
286273,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},"Feb 15, 1564 saw the birth of what famed Itali...",Which Italian astronomer discovered the four l...,0.058371,0.424242,0.302515,0.836991,0.697034
286278,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},Who played the title role in the 1951 film ‘Ca...,Who played Captain Horatio Hornblower in the 1...,0.249186,0.480000,0.612658,0.889873,0.863451
286281,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},"Which novelist, born in Bombay in 1865, was aw...",Who won the Nobel Prize for Literature in 1907?,0.183689,0.560000,0.441557,0.889193,0.795078
286284,T5_amalgam_triviaqa,T5,amalgam,triviaqa,{'defaults': True},What is the name of the structure designed by ...,What is the name of the sculpture designed by ...,0.322477,0.606061,0.622580,0.913869,0.676564

## Format code to PEP 8 Standards

### Steps

*   Install:

In [ ]:
!pip install black[jupyter]


*   To format your code run:

In [ ]:
!black /content/drive/MyDrive/'Colab Notebooks'/results_text_evaluation.ipynb


*   Don't save your notebook, hit F5 (Command + r) to refresh the page
*   Voila!
*   Now save!