<a href="https://colab.research.google.com/github/jeanlucjackson/w266_final_project/blob/main/BB/code/stage_prediction_text_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction Text Evaluation/Analysis

### Imports/Setup

In [ ]:
from os import listdir
from os.path import isfile, join

import csv
import json
import pprint

import pandas as pd
from tqdm import tqdm

In [ ]:
# This cell will authenticate you and mount your Drive in the Colab.
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
evaluation_root = "/content/drive/MyDrive/w266 NLP Final Project/Evaluation/"
filename = join(evaluation_root, "evaluation_database.json")

# Read JSON into dataframe
evaluation_db_df = pd.read_json(filename)

### Quick EDA to see what we're working with

In [ ]:
evaluation_db_df.head()

,prediction_set,base_model,trained_on,tested_on,nickname,hyperparameter,target,prediction,bleu,rouge1,rouge2,rougeL,rougeLsum,meteor,bertscore-precision,bertscore-recall,bertscore-f1,bleurt
0,predictions.T5_base_pt_long.nq.nq.csv,T5,nq,nq,T5_nq_nq,{'defaults': True},what was the real name of saudi arabia,what is the name of the new saudi kingdom,0.000000,0.588235,0.133333,0.588235,0.588235,0.459259,0.907339,0.912351,0.909838,0.172651
1,predictions.T5_base_pt_long.nq.nq.csv,T5,nq,nq,T5_nq_nq,{'defaults': True},whats the most liked picture on instagram 2018,what is the most liked picture on instagram,0.680375,0.750000,0.714286,0.750000,0.750000,0.864796,0.947524,0.917478,0.932259,0.334462
2,predictions.T5_base_pt_long.nq.nq.csv,T5,nq,nq,T5_nq_nq,{'defaults': True},where does the movie proof of life take place,where does the movie adol take place,0.367415,0.750000,0.571429,0.750000,0.750000,0.669192,0.918053,0.903542,0.910740,-0.815040
3,predictions.T5_base_pt_long.nq.nq.csv,T5,nq,nq,T5_nq_nq,{'defaults': True},where is net profit on the balance sheet,where does net profit come from in a financial...,0.000000,0.333333,0.125000,0.333333,0.333333,0.311653,0.846695,0.865777,0.856129,0.047884
4,predictions.T5_base_pt_long.nq.nq.csv,T5,nq,nq,T5_nq_nq,{'defaults': True},when was fingerprinting first used by the police,when did fingerprint analysis become a common ...,0.000000,0.125000,0.000000,0.125000,0.125000,0.125000,0.841615,0.808970,0.824970,0.092736

In [ ]:
# See each prediction set name
evaluation_db_df.groupby("prediction_set").size()

prediction_set
predictions.T5_base_pt_long.amalgam.nq.csv                    2356
predictions.T5_base_pt_long.amalgam.quac.csv                  5868
predictions.T5_base_pt_long.amalgam.squad.csv                10570
predictions.T5_base_pt_long.amalgam.triviaqa.csv              9835
predictions.T5_base_pt_long.nq.nq.csv                         2356
predictions.T5_base_pt_long.nq.quac.csv                       5868
predictions.T5_base_pt_long.nq.squad.csv                     10570
predictions.T5_base_pt_long.nq.triviaqa.csv                   9835
predictions.T5_base_pt_long.quac.nq.csv                       2356
predictions.T5_base_pt_long.quac.quac.csv                     5868
predictions.T5_base_pt_long.quac.squad.csv                   10570
predictions.T5_base_pt_long.quac.triviaqa.csv                 9835
predictions.T5_base_pt_long.squad.nq.csv                      2356
predictions.T5_base_pt_long.squad.quac.csv                    5868
predictions.T5_base_pt_long.squad.squad.csv                  10570
predictions.T5_base_pt_long.squad.triviaqa.csv                9835
predictions.T5_base_pt_long.triviaqa.nq.csv                   2356
predictions.T5_base_pt_long.triviaqa.quac.csv                 5868
predictions.T5_base_pt_long.triviaqa.squad.csv               10570
predictions.T5_base_pt_long.triviaqa.triviaqa.csv             9835
predictions.bart_base_pt_long.amalgam.nq.beams.csv            2356
predictions.bart_base_pt_long.amalgam.nq.csv                  2356
predictions.bart_base_pt_long.amalgam.quac.beams.csv          5868
predictions.bart_base_pt_long.amalgam.quac.csv                5868
predictions.bart_base_pt_long.amalgam.squad.beams.csv        10570
predictions.bart_base_pt_long.amalgam.squad.csv              10570
predictions.bart_base_pt_long.amalgam.triviaqa.beams.csv      9835
predictions.bart_base_pt_long.amalgam.triviaqa.csv            9835
predictions.bart_base_pt_long.nq.nq.beams.csv                 2356
predictions.bart_base_pt_long.nq.nq.csv                       2356
predictions.bart_base_pt_long.nq.quac.beams.csv               5868
predictions.bart_base_pt_long.nq.quac.csv                     5868
predictions.bart_base_pt_long.nq.squad.beams.csv             10570
predictions.bart_base_pt_long.nq.squad.csv                   10570
predictions.bart_base_pt_long.nq.triviaqa.beams.csv           9835
predictions.bart_base_pt_long.nq.triviaqa.csv                 9835
predictions.bart_base_pt_long.quac.nq.beams.csv               2356
predictions.bart_base_pt_long.quac.nq.csv                     2356
predictions.bart_base_pt_long.quac.quac.beams.csv             5868
predictions.bart_base_pt_long.quac.quac.csv                   5868
predictions.bart_base_pt_long.quac.squad.beams.csv           10570
predictions.bart_base_pt_long.quac.squad.csv                 10570
predictions.bart_base_pt_long.quac.triviaqa.beams.csv         9835
predictions.bart_base_pt_long.quac.triviaqa.csv               9835
predictions.bart_base_pt_long.squad.nq.beams.csv              2356
predictions.bart_base_pt_long.squad.nq.csv                    2356
predictions.bart_base_pt_long.squad.quac.beams.csv            5868
predictions.bart_base_pt_long.squad.quac.csv                  5868
predictions.bart_base_pt_long.squad.squad.beams.csv          10570
predictions.bart_base_pt_long.squad.squad.csv                10570
predictions.bart_base_pt_long.squad.triviaqa.beams.csv        9835
predictions.bart_base_pt_long.squad.triviaqa.csv              9835
predictions.bart_base_pt_long.triviaqa.nq.beams.csv           2356
predictions.bart_base_pt_long.triviaqa.nq.csv                 2356
predictions.bart_base_pt_long.triviaqa.quac.beams.csv         5868
predictions.bart_base_pt_long.triviaqa.quac.csv               5868
predictions.bart_base_pt_long.triviaqa.squad.beams.csv       10570
predictions.bart_base_pt_long.triviaqa.squad.csv             10570
predictions.bart_base_pt_long.triviaqa.triviaqa.beams.csv     9835
predictions.bart_base_pt_long.triviaqa.triviaqa.csv           9835
dtype: int64

In [ ]:
# Filter for specific prediction set
evaluation_db_df[
    evaluation_db_df["prediction_set"]
    == "predictions.bart_base_pt_long.triviaqa.squad.csv"
]

,prediction_set,target,prediction,rouge1,rouge2,rougeL,rougeLsum,bleurt,bertscore-precision,bertscore-recall,bertscore-f1,meteor,base_model,trained_on,tested_on,nickname
208627,predictions.bart_base_pt_long.triviaqa.squad.csv,How many levels of galleries do the façades su...,How many galleries are there in the Royal Hous...,0.476190,0.105263,0.380952,0.380952,-0.980577,0.800312,0.860128,0.829142,0.418028,bart,triviaqa,squad,bart_triviaqa_squad
208628,predictions.bart_base_pt_long.triviaqa.squad.csv,What are the secretions commonly called?,What is the name for the secretions that lumin...,0.260870,0.095238,0.260870,0.260870,-0.866669,0.779781,0.886785,0.829847,0.308642,bart,triviaqa,squad,bart_triviaqa_squad
208629,predictions.bart_base_pt_long.triviaqa.squad.csv,When did Newcastle's first indoor market open?,In which year was the Grainger Market opened?,0.125000,0.000000,0.125000,0.125000,-1.054898,0.825908,0.825295,0.825601,0.327160,bart,triviaqa,squad,bart_triviaqa_squad
208630,predictions.bart_base_pt_long.triviaqa.squad.csv,What may be presented to Parliament in various...,What is the name of the bill introduced to Par...,0.260870,0.095238,0.260870,0.260870,-0.713612,0.778225,0.801886,0.789878,0.354286,bart,triviaqa,squad,bart_triviaqa_squad
208631,predictions.bart_base_pt_long.triviaqa.squad.csv,"Prior to the arrival of the French, the area n...",What is the name of the indigenous people of F...,0.342857,0.060606,0.228571,0.228571,-0.886980,0.755503,0.771155,0.763248,0.169903,bart,triviaqa,squad,bart_triviaqa_squad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219192,predictions.bart_base_pt_long.triviaqa.squad.csv,What sort of power transmission did Tesla show...,What was the name of the electric lamp that Te...,0.322581,0.068966,0.322581,0.322581,-0.977504,0.786713,0.835393,0.810322,0.311233,bart,triviaqa,squad,bart_triviaqa_squad
219193,predictions.bart_base_pt_long.triviaqa.squad.csv,Which TFEU article defines the ordinary legisl...,What is the 'ordinary legislative procedure' t...,0.592593,0.480000,0.592593,0.592593,-0.101536,0.896705,0.877795,0.887149,0.474684,bart,triviaqa,squad,bart_triviaqa_squad
219194,predictions.bart_base_pt_long.triviaqa.squad.csv,What was the population of Kenya in 2014?,What is the population of Kenya?,0.714286,0.500000,0.714286,0.714286,-0.156311,0.954132,0.896292,0.924308,0.639205,bart,triviaqa,squad,bart_triviaqa_squad
219195,predictions.bart_base_pt_long.triviaqa.squad.csv,When did the y. pestis reach England?,In which year did the Y. pestis pandemic first...,0.666667,0.500000,0.666667,0.666667,-0.615448,0.854837,0.930246,0.890948,0.823615,bart,triviaqa,squad,bart_triviaqa_squad
219196,predictions.bart_base_pt_long.triviaqa.squad.csv,Who was the famous Huguenot theologian and wri...,Who was the leading Huguenot theologian and wr...,0.560000,0.434783,0.560000,0.560000,-0.741975,0.826893,0.920976,0.871402,0.646552,bart,triviaqa,squad,bart_triviaqa_squad

In [ ]:
# Find the overall averages for each prediction set and metric
eval_means_df = evaluation_db_df.groupby(["nickname"]).mean()

# Reset index so able to groupby and sort below to find top scoring prediction sets for each metric
eval_means_df = eval_means_df.reset_index("nickname")

eval_means_df

,nickname,bleu,rouge1,rouge2,rougeL,rougeLsum,meteor,bertscore-precision,bertscore-recall,bertscore-f1,bleurt
0,T5_amalgam_nq,0.161340,0.545908,0.321837,0.520167,0.520167,0.494038,0.860089,0.853318,0.856370,-0.356210
1,T5_amalgam_quac,0.029039,0.257288,0.102606,0.252199,0.252199,0.255084,0.788942,0.782265,0.785061,-0.935537
2,T5_amalgam_squad,0.125223,0.487697,0.268768,0.455174,0.455174,0.453043,0.869129,0.856250,0.862051,-0.326483
3,T5_amalgam_triviaqa,0.058694,0.412592,0.194635,0.346813,0.346813,0.327001,0.837090,0.803558,0.819109,-0.683983
4,T5_nq_nq,0.161035,0.543956,0.321336,0.519087,0.519087,0.491609,0.861622,0.852308,0.856634,-0.368653
5,T5_nq_quac,0.001004,0.153919,0.033906,0.150299,0.150299,0.111316,0.692656,0.700757,0.696398,-1.360866
6,T5_nq_squad,0.014082,0.357617,0.144095,0.330075,0.330075,0.259321,0.800772,0.772858,0.786268,-0.762601
7,T5_nq_triviaqa,0.007319,0.313972,0.116665,0.273116,0.273116,0.186009,0.791732,0.738775,0.763860,-1.062357
8,T5_quac_nq,0.000151,0.149113,0.023918,0.144824,0.144824,0.076108,0.695247,0.681317,0.688033,-1.507222
9,T5_quac_quac,0.002599,0.172027,0.041067,0.171033,0.171033,0.165326,0.771336,0.749962,0.760098,-1.370463
10,T5_quac_squad,0.000941,0.179969,0.025284,0.173437,0.173437,0.134318,0.769250,0.716829,0.741661,-1.355028
11,T5_quac_triviaqa,0.000238,0.124776,0.012841,0.116201,0.116201,0.088856,0.741816,0.672611,0.705030,-1.522049
12,T5_squad_nq,0.011953,0.425187,0.208077,0.406482,0.406482,0.351920,0.791033,0.802622,0.796409,-0.660855
13,T5_squad_quac,0.006194,0.189793,0.045131,0.183732,0.183732,0.209584,0.735544,0.775095,0.754260,-1.158414
14,T5_squad_squad,0.132327,0.484151,0.268397,0.452071,0.452071,0.455496,0.871368,0.859774,0.864928,-0.318672
15,T5_squad_triviaqa,0.022506,0.309812,0.109321,0.266749,0.266749,0.225533,0.814059,0.765242,0.788147,-0.915387
16,T5_triviaqa_nq,0.005805,0.315692,0.131376,0.272289,0.272289,0.291636,0.753085,0.789153,0.770153,-0.943721
17,T5_triviaqa_quac,0.000974,0.109879,0.019310,0.098909,0.098909,0.149700,0.681679,0.736244,0.707341,-1.386068
18,T5_triviaqa_squad,0.028491,0.293822,0.105893,0.242603,0.242603,0.289364,0.783904,0.799923,0.790959,-0.879229
19,T5_triviaqa_triviaqa,0.045611,0.378001,0.161300,0.315300,0.315300,0.299531,0.825697,0.796646,0.810085,-0.771809
20,bart_amalgam_nq,0.196194,0.569776,0.353207,0.545092,0.545092,0.524023,0.866429,0.862734,0.864340,-0.267265
21,bart_amalgam_quac,0.028124,0.237223,0.088131,0.232759,0.232759,0.249257,0.758170,0.783707,0.770092,-1.041136
22,bart_amalgam_squad,0.136192,0.493546,0.279769,0.458752,0.458752,0.460478,0.868964,0.858001,0.862882,-0.308832
23,bart_amalgam_triviaqa,0.077836,0.435468,0.221221,0.368445,0.368445,0.354073,0.843860,0.811201,0.826389,-0.627196
24,bart_nq_nq,0.203451,0.575947,0.356998,0.549905,0.549905,0.527959,0.870479,0.864446,0.867241,-0.252425
25,bart_nq_quac,0.001075,0.153014,0.034699,0.149665,0.149665,0.112694,0.692417,0.702351,0.697080,-1.341828
26,bart_nq_squad,0.014418,0.349155,0.139273,0.322787,0.322787,0.252166,0.797642,0.771265,0.783945,-0.763628
27,bart_nq_triviaqa,0.007865,0.331661,0.128282,0.286220,0.286220,0.200790,0.799863,0.744633,0.770798,-1.017210
28,bart_quac_nq,0.004954,0.335385,0.138139,0.327297,0.327297,0.225672,0.760527,0.742406,0.751054,-0.986471
29,bart_quac_quac,0.058221,0.285867,0.140703,0.281957,0.281957,0.287678,0.795834,0.790022,0.792438,-0.807135
30,bart_quac_squad,0.027890,0.305350,0.113138,0.290169,0.290169,0.245330,0.832874,0.775952,0.802837,-0.831083
31,bart_quac_triviaqa,0.006977,0.218001,0.062497,0.197133,0.197133,0.150517,0.799815,0.716562,0.755307,-1.169842
32,bart_squad_nq,0.011785,0.428930,0.212613,0.410668,0.410668,0.355248,0.792878,0.805068,0.798568,-0.633519
33,bart_squad_quac,0.007325,0.188734,0.046255,0.183636,0.183636,0.205313,0.736367,0.773099,0.753687,-1.216049
34,bart_squad_squad,0.151511,0.503554,0.290483,0.469239,0.469239,0.475572,0.875212,0.865128,0.869560,-0.265667
35,bart_squad_triviaqa,0.021907,0.297474,0.110001,0.260165,0.260165,0.218949,0.815076,0.764108,0.787973,-0.909741
36,bart_triviaqa_nq,0.011279,0.403748,0.198175,0.366452,0.366452,0.368316,0.777190,0.816301,0.795887,-0.731896
37,bart_triviaqa_quac,0.001545,0.121621,0.025388,0.113355,0.113355,0.163114,0.681298,0.740823,0.709271,-1.374845
38,bart_triviaqa_squad,0.047926,0.351854,0.142456,0.311379,0.311379,0.338727,0.810043,0.825256,0.816923,-0.644163
39,bart_triviaqa_triviaqa,0.076628,0.434353,0.219309,0.368207,0.368207,0.351298,0.844434,0.809778,0.825935,-0.631727

### Begin Analysis

Top predictions

In [ ]:
# Thanks JL for the code..

# Show top 5 prediction sets by avg metric scores
top_x_performers = 5

metrics = [
    "rouge1",
    "rouge2",
    "rougeL",
    "meteor",
    "bleurt",
    # 'bertscore-precision',
    # 'bertscore-recall',
    "bertscore-f1",
]


for met in metrics:
    tops = eval_means_df.sort_values(by=met, ascending=False)[["nickname", met]].head(
        top_x_performers
    )
    print(met + ":\n", tops, "\n")

rouge1:
             nickname  rouge1
24        bart_nq_nq  0.5759
20   bart_amalgam_nq  0.5698
0      T5_amalgam_nq  0.5459
4           T5_nq_nq  0.5440
34  bart_squad_squad  0.5036

rouge2:
             nickname  rouge2
24        bart_nq_nq  0.3570
20   bart_amalgam_nq  0.3532
0      T5_amalgam_nq  0.3218
4           T5_nq_nq  0.3213
34  bart_squad_squad  0.2905

rougeL:
             nickname  rougeL
24        bart_nq_nq  0.5499
20   bart_amalgam_nq  0.5451
0      T5_amalgam_nq  0.5202
4           T5_nq_nq  0.5191
34  bart_squad_squad  0.4692

meteor:
             nickname  meteor
24        bart_nq_nq  0.5280
20   bart_amalgam_nq  0.5240
0      T5_amalgam_nq  0.4940
4           T5_nq_nq  0.4916
34  bart_squad_squad  0.4756

bleurt:
               nickname  bleurt
24          bart_nq_nq -0.2524
34    bart_squad_squad -0.2657
20     bart_amalgam_nq -0.2673
22  bart_amalgam_squad -0.3088
14      T5_squad_squad -0.3187

bertscore-f1:
               nickname  bertscore-f1
34    bart_squad_squad        0.8696
24          bart_nq_nq        0.8672
14      T5_squad_squad        0.8649
20     bart_amalgam_nq        0.8643
22  bart_amalgam_squad        0.8629

In [ ]:
# Based on above results,
# filter for specific prediction set with consistently high scores
bart_nq_nq_df = evaluation_db_df[evaluation_db_df["nickname"] == "bart_nq_nq"]

# Specify columns to return and metric to look at
bart_nq_nq_df = bart_nq_nq_df[["target", "prediction", "bertscore-f1"]]

bart_nq_nq_df

,target,prediction,bertscore-f1
171774,what was the real name of saudi arabia,what is the name of the kingdom of saudi arabia,0.9158
171775,whats the most liked picture on instagram 2018,what is the most liked picture on instagram,0.9323
171776,where does the movie proof of life take place,where does alice go in the new movie,0.8352
171777,where is net profit on the balance sheet,where does net profit come from in a financial...,0.8561
171778,when was fingerprinting first used by the police,when was fingerprint technology first used in ...,0.8764
...,...,...,...
337685,what is the ultimate objective of financial ma...,what is the purpose of financial management,0.9614
337686,when was kudzu introduced to the united states,when did kudzu come to the united states,0.9260
337687,who was defeated in the french and indian war,who won the battle of new orleans,0.7748
337688,who dies in the lost city of z,who dies in the battle of the somme,0.7348
337689,when was nepal declared a secular state in bs,when did nepal become a secular state,0.9166

In [ ]:
# Find top 5 predictions in bart nq nq for text review
bart_nq_nq_df_top = bart_nq_nq_df.sort_values(by="bertscore-f1", ascending=False)

bart_nq_nq_df_top

,target,prediction,bertscore-f1
336507,where does the last name rudolph come from,where does the last name rudolph come from,1.0000
337410,when does jenny come back to gossip girl,when does jenny come back to gossip girl,1.0000
336369,when do you get a dd form 214,when do you get a DD form 214,1.0000
335953,who won the first season of america's got talent,who won the first season of america's got talent,1.0000
172393,who won the first season of america's got talent,who won the first season of america's got talent,1.0000
...,...,...,...
335957,who took over the dutch colony in north america,where did the name new york come from,0.6460
172397,who took over the dutch colony in north america,where did the name new york come from,0.6460
172671,factories that assemble parts made in other co...,what type of economic zone does mexico have,0.6435
335948,word that means separation of church and state,the supreme court ruling in zorach v. clauson ...,0.6387
336231,factories that assemble parts made in other co...,what is the meaning of maquiladora in spanish,0.6242

In [ ]:
# Find predictions with bertscore range of 85-90

bart_nq_nq_df_range = bart_nq_nq_df_top[(bart_nq_nq_df_top['bertscore-f1'] >= 0.85) & (bart_nq_nq_df_top['bertscore-f1'] <= 0.90)]

bart_nq_nq_df_range = bart_nq_nq_df_range.sort_values(by="bertscore-f1", ascending=False)

bart_nq_nq_df_range

,target,prediction,bertscore-f1
172685,who is nebula on guardians of the galaxy,who plays nebula in guardians of the galaxy,0.9000
336245,who is nebula on guardians of the galaxy,who plays nebula in guardians of the galaxy,0.9000
335421,the vascular layer of the eye is the,what is the middle layer of the eye called,0.8999
171861,the vascular layer of the eye is the,what is the middle layer of the eye called,0.8999
173678,where does iron ore come from in australia,where does most of australia's iron ore come from,0.8997
...,...,...,...
172101,where did the dewey decimal system come from,who came up with the Dewey decimal system,0.8505
336426,where does the optic nerve cross the midline ​,where are the optic nerves located in the brain,0.8504
172866,where does the optic nerve cross the midline ​,where are the optic nerves located in the brain,0.8504
173200,who is the girl in the stone sour video say yo...,who is the girl in i am you video,0.8502
336760,who is the girl in the stone sour video say yo...,who is the girl in i am you video,0.8502

In [ ]:
spec_pred_scores_df = evaluation_db_df[(evaluation_db_df["prediction"] == "who plays nebula in guardians of the galaxy") & (evaluation_db_df["nickname"] == "bart_nq_nq")]

spec_pred_scores_df

,prediction_set,base_model,trained_on,tested_on,nickname,hyperparameter,target,prediction,bleu,rouge1,rouge2,rougeL,rougeLsum,meteor,bertscore-precision,bertscore-recall,bertscore-f1,bleurt
172685,predictions.bart_base_pt_long.nq.nq.csv,bart,nq,nq,bart_nq_nq,{'defaults': True},who is nebula on guardians of the galaxy,who plays nebula in guardians of the galaxy,0.3826,0.75,0.4286,0.75,0.75,0.7031,0.9,0.9,0.9,0.362
336245,predictions.bart_base_pt_long.nq.nq.beams.csv,bart,nq,nq,bart_nq_nq,"{'defaults': False, 'max_length': 50, 'beams':...",who is nebula on guardians of the galaxy,who plays nebula in guardians of the galaxy,0.3826,0.75,0.4286,0.75,0.75,0.7031,0.9,0.9,0.9,0.362

Bottom predictions

In [ ]:
# Thanks JL for the code..

# Show bottom 5 prediction sets by avg metric scores
bottom_x_performers = 5

metrics = [
    "rouge1",
    "rouge2",
    "rougeL",
    "meteor",
    "bleurt",
    # 'bertscore-precision',
    # 'bertscore-recall',
    "bertscore-f1",
]


for met in metrics:
    bottoms = eval_means_df.sort_values(by=met, ascending=True)[["nickname", met]].head(
        bottom_x_performers
    )
    print(met + ":\n", bottoms, "\n")

rouge1:
               nickname    rouge1
17    T5_triviaqa_quac  0.109879
37  bart_triviaqa_quac  0.121877
11    T5_quac_triviaqa  0.124776
8           T5_quac_nq  0.149113
25        bart_nq_quac  0.152988

rouge2:
               nickname    rouge2
11    T5_quac_triviaqa  0.012841
17    T5_triviaqa_quac  0.019310
8           T5_quac_nq  0.023918
10       T5_quac_squad  0.025284
37  bart_triviaqa_quac  0.025623

rougeL:
               nickname    rougeL
17    T5_triviaqa_quac  0.098909
37  bart_triviaqa_quac  0.113672
11    T5_quac_triviaqa  0.116201
8           T5_quac_nq  0.144824
25        bart_nq_quac  0.149609

meteor:
             nickname    meteor
8         T5_quac_nq  0.076108
11  T5_quac_triviaqa  0.088856
5         T5_nq_quac  0.111316
25      bart_nq_quac  0.112613
10     T5_quac_squad  0.134318

bleurt:
               nickname    bleurt
11    T5_quac_triviaqa -1.522049
8           T5_quac_nq -1.507222
17    T5_triviaqa_quac -1.386068
37  bart_triviaqa_quac -1.374541
9         T5_quac_quac -1.370463

bertscore-f1:
             nickname  bertscore-f1
8         T5_quac_nq      0.688033
5         T5_nq_quac      0.696398
25      bart_nq_quac      0.697180
11  T5_quac_triviaqa      0.705030
17  T5_triviaqa_quac      0.707341

In [ ]:
# Based on above results,
# filter for specific prediction set with consistently low scores
t5_quac_nq_df = evaluation_db_df[evaluation_db_df["nickname"] == "T5_quac_nq"]

# Specify columns to return and metric to look at
t5_quac_nq_df = t5_quac_nq_df[["target", "prediction", "bertscore-f1"]]

t5_quac_nq_df

,target,prediction,bertscore-f1
80754,what was the real name of saudi arabia,What was the Saudi Arabia a Saudi?,0.853148
80755,whats the most liked picture on instagram 2018,What was her first name?,0.630179
80756,where does the movie proof of life take place,What was her first job?,0.659759
80757,where is net profit on the balance sheet,What was the most important aspects about this...,0.623179
80758,when was fingerprinting first used by the police,What was the name of the article?,0.676929
...,...,...,...
83105,what is the ultimate objective of financial ma...,What was the financial he?,0.744681
83106,when was kudzu introduced to the united states,What was the most interesting aspects about th...,0.634268
83107,who was defeated in the french and indian war,What was the United Kingdom?,0.611707
83108,who dies in the lost city of z,What was his father?,0.647751
83109,when was nepal declared a secular state in bs,What was the religion?,0.702311

In [ ]:
# Find bottom 5 predictions in t5 quac triviaqa for text review
t5_quac_nq_df_bottom = t5_quac_nq_df.sort_values(by="bertscore-f1", ascending=True)

t5_quac_nq_df_bottom

,target,prediction,bertscore-f1
82811,when did they stop making jello pudding pops,What was the name of the name of the name of t...,0.501736
82792,south america became a collection of independe...,What was the Spanish a Mexican a Mexican a Mex...,0.512759
82217,royal society for the protection of birds numb...,What else did he do?,0.521592
81395,what is the filename extension used for all ja...,What was the name of the name of the name of t...,0.539021
81404,chandra and bhaga river meets at the place,What was his first name?,0.557309
...,...,...,...
82051,what is small business tax rate in canada,What tax rate is a tax rate for the Canadian C...,0.842925
80782,what is the role of the civil service commission,What is the civil service?,0.851732
80754,what was the real name of saudi arabia,What was the Saudi Arabia a Saudi?,0.853148
81152,what is the meaning of the name von,What was the name of the name of the name?,0.864368
82458,what makes a mini bike a mini bike,What is a mini bike?,0.873655

## Stylized Vizzes

### Color Codes

In [ ]:
# COLORS

llblue = "#8ECAE6"
lblue = "#219EBC"
blue = "#126782"
dblue = "#023047"
yellow = "#FFB703"
lorange = "#FD9E02"
orange = "#FB8500"
dorange = "#BB3E03"
red = "#AE2012"
dred = "#9B2226"

## Tables

### Metrics for Predictions Viewing

Top Predictions

In [ ]:
import plotly.graph_objects as go
import pandas as pd

df = bart_nq_nq_df_top.head()

fig = go.Figure(
    data=[
        go.Table(
            columnorder=[1, 2, 3],
            columnwidth=[300, 300, 60],
            header=dict(
                values=list(df.columns),
                fill_color=blue,
                font_color="white",
                align="left",
            ),
            cells=dict(
                values=[
                    df["target"],
                    df["prediction"],
                    df["bertscore-f1"].round(decimals=2),
                ],
                fill_color=llblue,
                align="left",
            ),
        )
    ]
)

fig.show()

In [ ]:
import plotly.graph_objects as go

data = bart_nq_nq_df_top.head()

fig = go.Figure(
    data=[
        go.Table(
            header=dict(values=["target", "prediction", "bertscore-f1"]),
            cells=dict(
                values=[
                    data["target"],
                    data["prediction"],
                    data["bertscore-f1"].round(decimals=2),
                ]
            ),
        )
    ]
)
fig.show()

NameError: ignored

Bottom Predictions

In [ ]:
import plotly.graph_objects as go
import pandas as pd

df = t5_quac_nq_df_bottom.head()

fig = go.Figure(
    data=[
        go.Table(
            columnorder=[1, 2, 3],
            columnwidth=[300, 300, 60],
            header=dict(
                values=list(df.columns),
                fill_color=blue,
                font_color="white",
                align="left",
            ),
            cells=dict(
                values=[
                    df["target"],
                    df["prediction"],
                    df["bertscore-f1"].round(decimals=2),
                ],
                fill_color=llblue,
                align="left",
            ),
        )
    ]
)

fig.show()

In [ ]:
import plotly.graph_objects as go

data = t5_quac_nq_df_bottom.head()

fig = go.Figure(
    data=[
        go.Table(
            header=dict(values=["target", "prediction", "bertscore-f1"]),
            cells=dict(
                values=[
                    data["target"],
                    data["prediction"],
                    data["bertscore-f1"].round(decimals=2),
                ]
            ),
        )
    ]
)
fig.show()

In [ ]:
import plotly.graph_objects as go

data = eval_means_df

fig = go.Figure(
    data=[
        go.Table(
            header=dict(values=["model", 'rouge1',	'rouge2',	'rougeL',	'rougeLsum',	'bleurt',	'bertscore-precision', 'bertscore-recall', 'bertscore-f1', 'meteor']),
            cells=dict(
                values=[
                    data["nickname"],
                    data["rouge1"].round(decimals=2),
                    data["rouge2"].round(decimals=2),
                    data["rougeL"].round(decimals=2),
                    data["rougeLsum"].round(decimals=2),
                    data["bleurt"].round(decimals=2),
                    data["bertscore-precision"].round(decimals=2),
                    data["bertscore-recall"].round(decimals=2),
                    data["bertscore-f1"].round(decimals=2),
                    data["meteor"].round(decimals=2),
                ]
            ),
        )
    ]
)
fig.show()

### Metrics by Data Tested On

In [ ]:
# Set number of decimal places for scores in pandas df
pd.set_option('precision', 4)

In [ ]:
# Tested on NQ
nq_df = evaluation_db_df[(evaluation_db_df['tested_on'] == 'nq') & (evaluation_db_df['base_model'] == 'bart')].groupby(['base_model', 'trained_on', 'tested_on']).mean().sort_values(by=['bertscore-f1'], ascending=False)

nq_df

                                   bleu  rouge1  rouge2  rougeL  rougeLsum  \
base_model trained_on tested_on
bart       nq         nq         0.2035  0.5759  0.3570  0.5499     0.5499
           amalgam    nq         0.1962  0.5698  0.3532  0.5451     0.5451
           squad      nq         0.0118  0.4289  0.2126  0.4107     0.4107
           triviaqa   nq         0.0113  0.4037  0.1982  0.3665     0.3665
           quac       nq         0.0050  0.3354  0.1381  0.3273     0.3273

                                 meteor  bertscore-precision  \
base_model trained_on tested_on
bart       nq         nq         0.5280               0.8705
           amalgam    nq         0.5240               0.8664
           squad      nq         0.3552               0.7929
           triviaqa   nq         0.3683               0.7772
           quac       nq         0.2257               0.7605

                                 bertscore-recall  bertscore-f1  bleurt
base_model trained_on tested_on
bart       nq         nq                   0.8644        0.8672 -0.2524
           amalgam    nq                   0.8627        0.8643 -0.2673
           squad      nq                   0.8051        0.7986 -0.6335
           triviaqa   nq                   0.8163        0.7959 -0.7319
           quac       nq                   0.7424        0.7511 -0.9865

In [ ]:
print(nq_df.to_latex(index=False))

\begin{tabular}{rrrrrrrrrr}
\toprule
  bleu &  rouge1 &  rouge2 &  rougeL &  rougeLsum &  meteor &  bertscore-precision &  bertscore-recall &  bertscore-f1 &  bleurt \\
0.2035 &  0.5759 &  0.3570 &  0.5499 &     0.5499 &  0.5280 &               0.8705 &            0.8644 &        0.8672 & -0.2524 \\
\midrule
0.1962 &  0.5698 &  0.3532 &  0.5451 &     0.5451 &  0.5240 &               0.8664 &            0.8627 &        0.8643 & -0.2673 \\
0.0118 &  0.4289 &  0.2126 &  0.4107 &     0.4107 &  0.3552 &               0.7929 &            0.8051 &        0.7986 & -0.6335 \\
0.0113 &  0.4037 &  0.1982 &  0.3665 &     0.3665 &  0.3683 &               0.7772 &            0.8163 &        0.7959 & -0.7319 \\
0.0050 &  0.3354 &  0.1381 &  0.3273 &     0.3273 &  0.2257 &               0.7605 &            0.7424 &        0.7511 & -0.9865 \\
\bottomrule
\end{tabular}

In [ ]:
import plotly.graph_objects as go


# Reset index
data = nq_df.reset_index()
# Specify columns to return and metric to look at
data = data[["base_model", "trained_on", "bertscore-f1"]]


fig = go.Figure(data=go.Heatmap(
                   z=data['bertscore-f1'],
                   x=data['base_model'],
                   y=data['trained_on'],
                   hoverongaps = False,
                   text=data['bertscore-f1'],
                   texttemplate="%{text}",
                   colorscale='Viridis'))
fig.show()

In [ ]:
# Tested on SQuAD
squad_df = evaluation_db_df[evaluation_db_df['tested_on'] == 'squad'].groupby(['base_model', 'trained_on', 'tested_on']).mean().sort_values(by=['bertscore-f1'], ascending=False)

squad_df

                                   rouge1    rouge2    rougeL  rougeLsum  \
base_model trained_on tested_on
bart       squad      squad      0.503420  0.290294  0.469189   0.469189
T5         squad      squad      0.484151  0.268397  0.452071   0.452071
bart       amalgam    squad      0.493323  0.279320  0.458580   0.458580
T5         amalgam    squad      0.487697  0.268768  0.455174   0.455174
bart       triviaqa   squad      0.350678  0.141848  0.310408   0.310408
           quac       squad      0.306160  0.113318  0.290898   0.290898
T5         triviaqa   squad      0.293822  0.105893  0.242603   0.242603
           nq         squad      0.357617  0.144095  0.330075   0.330075
bart       nq         squad      0.349037  0.139038  0.322623   0.322623
T5         quac       squad      0.179969  0.025284  0.173437   0.173437

                                   bleurt  bertscore-precision  \
base_model trained_on tested_on
bart       squad      squad     -0.266942             0.875216
T5         squad      squad     -0.318672             0.871368
bart       amalgam    squad     -0.308066             0.869009
T5         amalgam    squad     -0.326483             0.869129
bart       triviaqa   squad     -0.645397             0.809761
           quac       squad     -0.831823             0.833189
T5         triviaqa   squad     -0.879229             0.783904
           nq         squad     -0.762601             0.800772
bart       nq         squad     -0.764717             0.797528
T5         quac       squad     -1.355028             0.769250

                                 bertscore-recall  bertscore-f1    meteor
base_model trained_on tested_on
bart       squad      squad              0.865097      0.869541  0.475335
T5         squad      squad              0.859774      0.864928  0.455496
bart       amalgam    squad              0.857904      0.862851  0.460135
T5         amalgam    squad              0.856250      0.862051  0.453043
bart       triviaqa   squad              0.825226      0.816754  0.338206
           quac       squad              0.775895      0.802949  0.245610
T5         triviaqa   squad              0.799923      0.790959  0.289364
           nq         squad              0.772858      0.786268  0.259321
bart       nq         squad              0.771140      0.783824  0.252032
T5         quac       squad              0.716829      0.741661  0.134318

In [ ]:
# Tested on QuAC
quac_df = evaluation_db_df[evaluation_db_df['tested_on'] == 'quac'].groupby(['base_model', 'trained_on', 'tested_on']).mean().sort_values(by=['bertscore-f1'], ascending=False)

quac_df

                                   rouge1    rouge2    rougeL  rougeLsum  \
base_model trained_on tested_on
bart       quac       quac       0.286694  0.140381  0.282748   0.282748
T5         amalgam    quac       0.257288  0.102606  0.252199   0.252199
bart       amalgam    quac       0.238066  0.088339  0.233675   0.233675
T5         quac       quac       0.172027  0.041067  0.171033   0.171033
           squad      quac       0.189793  0.045131  0.183732   0.183732
bart       squad      quac       0.189289  0.046604  0.184176   0.184176
           triviaqa   quac       0.121877  0.025623  0.113672   0.113672
T5         triviaqa   quac       0.109879  0.019310  0.098909   0.098909
bart       nq         quac       0.152988  0.034634  0.149609   0.149609
T5         nq         quac       0.153919  0.033906  0.150299   0.150299

                                   bleurt  bertscore-precision  \
base_model trained_on tested_on
bart       quac       quac      -0.808246             0.796352
T5         amalgam    quac      -0.935537             0.788942
bart       amalgam    quac      -1.044375             0.758532
T5         quac       quac      -1.370463             0.771336
           squad      quac      -1.158414             0.735544
bart       squad      quac      -1.214763             0.736757
           triviaqa   quac      -1.374541             0.681438
T5         triviaqa   quac      -1.386068             0.681679
bart       nq         quac      -1.341349             0.692515
T5         nq         quac      -1.360866             0.692656

                                 bertscore-recall  bertscore-f1    meteor
base_model trained_on tested_on
bart       quac       quac               0.790242      0.792803  0.288054
T5         amalgam    quac               0.782265      0.785061  0.255084
bart       amalgam    quac               0.784215      0.770516  0.250150
T5         quac       quac               0.749962      0.760098  0.165326
           squad      quac               0.775095      0.754260  0.209584
bart       squad      quac               0.773284      0.753976  0.205870
           triviaqa   quac               0.741714      0.709745  0.164007
T5         triviaqa   quac               0.736244      0.707341  0.149700
bart       nq         quac               0.702449      0.697180  0.112613
T5         nq         quac               0.700757      0.696398  0.111316

In [ ]:
# Tested on TriviaQA
triviaqa_df = evaluation_db_df[evaluation_db_df['tested_on'] == 'triviaqa'].groupby(['base_model', 'trained_on', 'tested_on']).mean().sort_values(by=['bertscore-f1'], ascending=False)

triviaqa_df

                                   rouge1    rouge2    rougeL  rougeLsum  \
base_model trained_on tested_on
bart       amalgam    triviaqa   0.435743  0.221391  0.368719   0.368719
           triviaqa   triviaqa   0.434013  0.218701  0.367785   0.367785
T5         amalgam    triviaqa   0.412592  0.194635  0.346813   0.346813
           triviaqa   triviaqa   0.378001  0.161300  0.315300   0.315300
           squad      triviaqa   0.309812  0.109321  0.266749   0.266749
bart       squad      triviaqa   0.297769  0.110143  0.260266   0.260266
           nq         triviaqa   0.331891  0.128535  0.286437   0.286437
T5         nq         triviaqa   0.313972  0.116665  0.273116   0.273116
bart       quac       triviaqa   0.218799  0.062560  0.197812   0.197812
T5         quac       triviaqa   0.124776  0.012841  0.116201   0.116201

                                   bleurt  bertscore-precision  \
base_model trained_on tested_on
bart       amalgam    triviaqa  -0.626486             0.843809
           triviaqa   triviaqa  -0.631442             0.844377
T5         amalgam    triviaqa  -0.683983             0.837090
           triviaqa   triviaqa  -0.771809             0.825697
           squad      triviaqa  -0.915387             0.814059
bart       squad      triviaqa  -0.908731             0.815241
           nq         triviaqa  -1.017392             0.799940
T5         nq         triviaqa  -1.062357             0.791732
bart       quac       triviaqa  -1.169151             0.799974
T5         quac       triviaqa  -1.522049             0.741816

                                 bertscore-recall  bertscore-f1    meteor
base_model trained_on tested_on
bart       amalgam    triviaqa           0.811331      0.826432  0.354592
           triviaqa   triviaqa           0.809795      0.825918  0.351028
T5         amalgam    triviaqa           0.803558      0.819109  0.327001
           triviaqa   triviaqa           0.796646      0.810085  0.299531
           squad      triviaqa           0.765242      0.788147  0.225533
bart       squad      triviaqa           0.764178      0.788087  0.219075
           nq         triviaqa           0.744631      0.770833  0.200833
T5         nq         triviaqa           0.738775      0.763860  0.186009
bart       quac       triviaqa           0.716730      0.755470  0.150911
T5         quac       triviaqa           0.672611      0.705030  0.088856

### Format code to PEP 8 Standards

In [ ]:
!pip install black[jupyter]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting black[jupyter]
  Downloading black-22.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 3.6 MB/s
Collecting pathspec>=0.9.0
  Downloading pathspec-0.10.2-py3-none-any.whl (28 kB)
Collecting platformdirs>=2
  Downloading platformdirs-2.5.4-py3-none-any.whl (14 kB)
Collecting typed-ast>=1.4.2
  Downloading typed_ast-1.5.4-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (843 kB)
     |████████████████████████████████| 843 kB 49.3 MB/s
Collecting click>=8.0.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.4 MB/s
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from black[jupyter]) (2.0.1)
Collecting mypy-extensions>=0.4.3
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from black[jupyter]) (4.1.1)
Requirement already satisfied: ipython>=7.8.0 in /usr/local/lib/python3.7/dist-packages (from black[jupyter]) (7.9.0)
Collecting tokenize-rt>=3.2.0
  Downloading tokenize_rt-5.0.0-py2.py3-none-any.whl (5.8 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from click>=8.0.0->black[jupyter]) (4.13.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.8.0->black[jupyter]) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 45.5 MB/s
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=7.8.0->black[jupyter]) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=7.8.0->black[jupyter]) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=7.8.0->black[jupyter]) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->click>=8.0.0->black[jupyter]) (3.10.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=7.8.0->black[jupyter]) (0.7.0)
Installing collected packages: typed-ast, platformdirs, pathspec, mypy-extensions, jedi, click, tokenize-rt, black
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.1.3 which is incompatible.
Successfully installed black-22.10.0 click-8.1.3 jedi-0.18.1 mypy-extensions-0.4.3 pathspec-0.10.2 platformdirs-2.5.4 tokenize-rt-5.0.0 typed-ast-1.5.4

In [ ]:
# Anytime you want format your code run:
!black /content/drive/MyDrive/'Colab Notebooks'/prediction_text_analysis.ipynb

# Don't save your notebook, hit F5 (Command + r) to refresh the page

# Voila!

# Now save!