<a href="https://colab.research.google.com/github/jeanlucjackson/w266_final_project/blob/main/code/BB/results_text_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Results: Text Evaluation

### Imports/Setup

In [ ]:
from os import listdir
from os.path import isfile, join

import csv
import json
import pprint

import pandas as pd
from tqdm import tqdm

In [ ]:
# This cell will authenticate you and mount your Drive in the Colab.
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
evaluation_root = "/content/drive/MyDrive/w266 NLP Final Project/Evaluation/"
filename = join(evaluation_root, "evaluation_database.json")

# Read JSON into dataframe
evaluation_df = pd.read_json(filename)

### Clean up evaluation dataframe to only include columns needed for text analysis

In [ ]:
# Clean up evaluation db df to only include columns needed for text analysis
clean_eval_df = evaluation_df[["nickname", "base_model", "trained_on", "tested_on", "hyperparameter", "target", "prediction", "bleu", "rougeL", "meteor", "bertscore-f1", "use"]]

clean_eval_df

### Find the overall averages for each prediction set and metric

In [ ]:
# Find the overall averages for each prediction set and metric
eval_means_df = clean_eval_df.groupby(["nickname"]).mean()

# Reset index so able to groupby and sort below to find top scoring prediction sets for each metric
eval_means_df = eval_means_df.reset_index("nickname")

eval_means_df

### Create BART and T5 dataframes to focus on

In [ ]:
# Create BART dataframe
bart_df = clean_eval_df[clean_eval_df["base_model"] == "bart"]

In [ ]:
# Create T5 dataframe
t5_df = clean_eval_df[clean_eval_df["base_model"] == "T5"]

## Model Evaluation

### USE Scores 0.85-09.0

In [ ]:
# Find BART predictions with use range of 85-90

bart_df_range = bart_df[(bart_df['use'] >= 0.85) & (bart_df['use'] <= 0.87) & (bart_df["nickname"] == 'bart_nq_nq')]

bart_df_range = bart_df_range.sort_values(by="use", ascending=False)

bart_df_range

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
172893,bart_nq_nq,bart,nq,nq,{'defaults': True},who was the main character in their eyes were ...,who was their eyes were watching god based on,0.411055,0.700000,0.640590,0.878411,0.869590
172956,bart_nq_nq,bart,nq,nq,{'defaults': True},when did jack mccoy join law and order,when did john mccoy first appear on law and order,0.000000,0.666667,0.685976,0.919406,0.869536
172437,bart_nq_nq,bart,nq,nq,{'defaults': True},where did they film woody the woodpecker movie,where was the movie woody woodpecker filmed,0.000000,0.400000,0.379747,0.902069,0.869150
172655,bart_nq_nq,bart,nq,nq,{'defaults': True},who wrote the book my country my life,who is the author of my country my life,0.330316,0.705882,0.694444,0.921862,0.867857
172761,bart_nq_nq,bart,nq,nq,{'defaults': True},what does the keys to the city mean,what is the meaning of the key to the city,0.000000,0.555556,0.820060,0.899178,0.867763
...,...,...,...,...,...,...,...,...,...,...,...,...
172179,bart_nq_nq,bart,nq,nq,{'defaults': True},when do willow and tara get back together,when does tara and buffy get back together,0.000000,0.625000,0.638889,0.936549,0.852325
173716,bart_nq_nq,bart,nq,nq,{'defaults': True},when did holland become involved in world war 2,when did the dutch enter world war 2,0.000000,0.588235,0.543820,0.905561,0.851055
173422,bart_nq_nq,bart,nq,nq,{'defaults': True},where is the new stadium being built in las vegas,where is the raiders stadium being built in la...,0.658037,0.900000,0.895062,0.960545,0.851036
172354,bart_nq_nq,bart,nq,nq,{'defaults': True},hart of dixie season 4 how many episodes,how many episodes of hart of dixie are there,0.000000,0.352941,0.727023,0.878181,0.850455
174012,bart_nq_nq,bart,nq,nq,{'defaults': True},who played shaggy in the new scooby doo movie,who does the voice of shaggy in scooby doo,0.000000,0.555556,0.567901,0.891552,0.850363

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "who wrote the book my country my life") & (bart_df["nickname"] == "bart_nq_nq")]

spec_pred_scores_df = spec_pred_scores_df[["target", "prediction", "rougeL", "use"]]

spec_pred_scores_df

,target,prediction,rougeL,use
172655,who wrote the book my country my life,who is the author of my country my life,0.705882,0.867857

In [ ]:
# Convert to Latex
print(spec_pred_scores_df.to_latex(index=False, header=True))

\begin{tabular}{llrr}
\toprule
                               target &                              prediction &   rougeL &      use \\
\midrule
who wrote the book my country my life & who is the author of my country my life & 0.705882 & 0.867857 \\
\bottomrule
\end{tabular}

In [ ]:
# Find T5 predictions with use range of 85-90

t5_df_range = t5_df[(t5_df['use'] >= 0.85) & (t5_df['use'] <= 0.86) & (t5_df["nickname"] == 'T5_nq_nq')]

t5_df_range = t5_df_range.sort_values(by="use", ascending=False)

t5_df_range

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
31,T5_nq_nq,T5,nq,nq,{'defaults': True},what kind of book is where's waldo,what kind of book is where's wally,0.809107,0.875000,0.873724,0.992737,0.859866
1275,T5_nq_nq,T5,nq,nq,{'defaults': True},who sang with eternal on i wanna be the only one,who sings i wanna be the only one,0.485987,0.736842,0.678419,0.920693,0.859697
1577,T5_nq_nq,T5,nq,nq,{'defaults': True},who was the original host of what's my line,who is the host of what's my line,0.496264,0.842105,0.786774,0.952402,0.859557
1378,T5_nq_nq,T5,nq,nq,{'defaults': True},who was it that described the structure of dna,who discovered the structure of dna,0.325880,0.666667,0.556322,0.903958,0.859500
1678,T5_nq_nq,T5,nq,nq,{'defaults': True},where is urinary bladder located in human body,where does the bladder sit in the human body,0.000000,0.588235,0.459259,0.867073,0.859204
1857,T5_nq_nq,T5,nq,nq,{'defaults': True},when is the opening ceremonies of the olympics...,when is the opening ceremony of the winter oly...,0.368894,0.777778,0.881944,0.919863,0.858611
1962,T5_nq_nq,T5,nq,nq,{'defaults': True},where was the louisiana purchase signed in 1803,where was the louisiana purchase treaty signed,0.557800,0.800000,0.745429,0.903282,0.858369
1887,T5_nq_nq,T5,nq,nq,{'defaults': True},who started the guinness book of world records,who is the founder of the guinness book of rec...,0.290715,0.666667,0.685976,0.909420,0.858329
1450,T5_nq_nq,T5,nq,nq,{'defaults': True},where do the secretory cells of endocrine glan...,where do exocrine glands secrete their products,0.276104,0.666667,0.555556,0.940807,0.857914
1741,T5_nq_nq,T5,nq,nq,{'defaults': True},when did the first pokemon game come out,when did pokemon first come out on the game boy,0.000000,0.555556,0.769817,0.889377,0.857610
101,T5_nq_nq,T5,nq,nq,{'defaults': True},who plays jack skellington in nightmare before...,who played jack in the nightmare before christmas,0.000000,0.750000,0.840561,0.909454,0.857575
2121,T5_nq_nq,T5,nq,nq,{'defaults': True},who is beauty and the beast written by,who wrote beauty and the beast in 1740,0.365555,0.625000,0.605000,0.846720,0.857216
738,T5_nq_nq,T5,nq,nq,{'defaults': True},when did hollywood video go out of business,when did hollywood video stop selling movies,0.356403,0.533333,0.502373,0.882120,0.857058
1019,T5_nq_nq,T5,nq,nq,{'defaults': True},who wrote the song be thankful for what you got,who wrote be thankful for what you got,0.595943,0.888889,0.809949,0.928325,0.856875
1520,T5_nq_nq,T5,nq,nq,{'defaults': True},what is the meaning of shalom in english,what is the meaning of shalom in the bible,0.725980,0.823529,0.830184,0.928967,0.856825
931,T5_nq_nq,T5,nq,nq,{'defaults': True},where is the extensor pollicis longus tendon l...,where is the extensor pollicis longus muscle l...,0.707107,0.875000,0.864796,0.968195,0.856685
2110,T5_nq_nq,T5,nq,nq,{'defaults': True},who sings somebody's watching me with michael ...,who sings somebody's watching me,0.548812,0.800000,0.688059,0.929234,0.856634
985,T5_nq_nq,T5,nq,nq,{'defaults': True},where are they playing the superbowl at this year,where is the super bowl being played this year,0.000000,0.444444,0.413333,0.788483,0.856624
127,T5_nq_nq,T5,nq,nq,{'defaults': True},who was the winner of the first indianapolis 500,who won the first indiana 500 race,0.000000,0.500000,0.358665,0.905497,0.856569
281,T5_nq_nq,T5,nq,nq,{'defaults': True},when did the right to buy scheme start,when did the right to buy come into effect,0.587395,0.705882,0.739026,0.891460,0.856467
1734,T5_nq_nq,T5,nq,nq,{'defaults': True},when was the movie the king and i made,when was the king and i made,0.597628,0.875000,0.786178,0.905249,0.856071
569,T5_nq_nq,T5,nq,nq,{'defaults': True},when did sierra nevada brewery open in asheville,when did sierra nevada open its second brewery,0.382603,0.625000,0.703125,0.893891,0.855983
2346,T5_nq_nq,T5,nq,nq,{'defaults': True},who wrote ain't living long like this,who wrote the song ain't living long like this,0.513345,0.888889,0.967988,0.955337,0.855942
1871,T5_nq_nq,T5,nq,nq,{'defaults': True},who has won the most world series in baseball,who has played in the most world series,0.377079,0.705882,0.755561,0.924082,0.855864
2060,T5_nq_nq,T5,nq,nq,{'defaults': True},what type of bridge is the charles bridge,what type of bridge is the old town bridge,0.610474,0.823529,0.854119,0.941799,0.855717
861,T5_nq_nq,T5,nq,nq,{'defaults': True},who plays general hux in the last jedi,who played general armitage hux in the force a...,0.000000,0.588235,0.727023,0.872457,0.855367
924,T5_nq_nq,T5,nq,nq,{'defaults': True},where do the maple leafs play hockey in toronto,where is the maple leafs hockey team located,0.000000,0.588235,0.501124,0.880837,0.855236
2206,T5_nq_nq,T5,nq,nq,{'defaults': True},how many points are scored for a touchdown in ...,how many points does a touchdown mean in a foo...,0.000000,0.636364,0.520408,0.881934,0.854809
51,T5_nq_nq,T5,nq,nq,{'defaults': True},when was the titanic started to be built,when was the keel of the titanic laid down,0.000000,0.470588,0.462963,0.865356,0.854344
526,T5_nq_nq,T5,nq,nq,{'defaults': True},who played mrs warboys in one foot in the grave,who played jennifer warboys in one foot in the...,0.707107,0.900000,0.895062,0.970048,0.854219
880,T5_nq_nq,T5,nq,nq,{'defaults': True},what is the job of justice of the peace,what is the meaning of justice of the peace,0.596949,0.888889,0.881944,0.940652,0.854173
1947,T5_nq_nq,T5,nq,nq,{'defaults': True},who won the mens figure skating in 2018 olympics,who won the first figure skating medal in the ...,0.000000,0.736842,0.629065,0.858152,0.853996
653,T5_nq_nq,T5,nq,nq,{'defaults': True},saying saved by the bell where did it originate,where did the phrase saved by the bell come from,0.312394,0.421053,0.647131,0.909291,0.853865
1014,T5_nq_nq,T5,nq,nq,{'defaults': True},what does rt mean on a dodge car,what does r/t stand for on dodge,0.000000,0.500000,0.399525,0.801590,0.853795
153,T5_nq_nq,T5,nq,nq,{'defaults': True},when does elena turn into a vampire in the tv ...,when does elena die in vampires,0.000000,0.470588,0.424762,0.837735,0.853741
1128,T5_nq_nq,T5,nq,nq,{'defaults': True},who plays the voice of john smith in pocahontas,who played smith in pocahontas,0.000000,0.571429,0.562791,0.918742,0.853583
2235,T5_nq_nq,T5,nq,nq,{'defaults': True},who is the girl in the hinder video lips of an...,who is the girl in lips of an angel,0.535732,0.857143,0.735465,0.919403,0.853248
925,T5_nq_nq,T5,nq,nq,{'defaults': True},when did the song push it come out,when did push it come out,0.432982,0.857143,0.754986,0.932150,0.853063
909,T5_nq_nq,T5,nq,nq,{'defaults': True},how many times have real madrid won the europe...,how many times has real madrid won the europea...,0.487486,0.818182,0.728211,0.942254,0.852786
1280,T5_nq_nq,T5,nq,nq,{'defaults': True},how many episodes in series 7 of game of thron...,how many episodes in game of thrones season 7,0.319805,0.666667,0.665732,0.929612,0.852698
175,T5_nq_nq,T5,nq,nq,{'defaults': True},who votes for nba defensive player of year,who votes for the defensive player of the year,0.000000,0.823529,0.830184,0.929231,0.852513
598,T5_nq_nq,T5,nq,nq,{'defaults': True},who sang rip it up and start again,who sang the song rip it up,0.000000,0.666667,0.612658,0.872511,0.852479
461,T5_nq_nq,T5,nq,nq,{'defaults': True},when did las vegas become a gambling town,when did las vegas become the first casino in ...,0.350844,0.526316,0.600000,0.877283,0.852319
1916,T5_nq_nq,T5,nq,nq,{'defaults': True},what was the purpose of the bay of pigs mission,what was the purpose of the bay of pigs invasion,0.880112,0.900000,0.899383,0.959663,0.852284
408,T5_nq_nq,T5,nq,nq,{'defaults': True},when was the national flag of india adopted,when did the national flag of india become the...,0.367206,0.631579,0.513722,0.916910,0.852232
617,T5_nq_nq,T5,nq,nq,{'defaults': True},where is san miguel de allende in mexico,where is san micel de allende located in mexico,0.000000,0.823529,0.830184,0.938301,0.851974
427,T5_nq_nq,T5,nq,nq,{'defaults': True},who does brant daugherty play in pretty little...,who plays brian on pretty little liars,0.000000,0.500000,0.506818,0.869514,0.851904
613,T5_nq_nq,T5,nq,nq,{'defaults': True},what are the colors of the netherlands flag,what is the color of the nederland flag,0.000000,0.625000,0.703125,0.929126,0.851757
2136,T5_nq_nq,T5,nq,nq,{'defaults': True},when did one child policy end in china,when did the two child policy change in china,0.000000,0.705882,0.694444,0.926506,0.851728
553,T5_nq_nq,T5,nq,nq,{'defaults': True},when does isle of dogs come out in us,when does the movie isle of dogs come out,0.513345,0.777778,0.768707,0.896637,0.851121
655,T5_nq_nq,T5,nq,nq,{'defaults': True},who did johnny manziel play college football for,who did manziel play for in the ncaa football ...,0.000000,0.555556,0.623306,0.890085,0.850929
27,T5_nq_nq,T5,nq,nq,{'defaults': True},who sings the song it ain't me,who sings it ain't me by kygo,0.000000,0.750000,0.736111,0.896564,0.850528
580,T5_nq_nq,T5,nq,nq,{'defaults': True},hart of dixie season 4 how many episodes,how many episodes of hart of dixie are there,0.000000,0.352941,0.727023,0.878181,0.850455

In [ ]:
spec_pred_scores_df = t5_df[(t5_df["target"] == "who wrote the book my country my life") & (t5_df["nickname"] == "T5_nq_nq")]

spec_pred_scores_df = spec_pred_scores_df[["target", "prediction", "rougeL", "use"]]

spec_pred_scores_df

,target,prediction,rougeL,use
881,who wrote the book my country my life,who wrote my country my life in 2008,0.75,0.794154

### Word and Character Repetition

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "What was the Elephant Man's real name?") & (bart_df["nickname"] == "bart_amalgam_triviaqa_hyp")]

spec_pred_scores_df = spec_pred_scores_df[["target", "prediction", "rougeL", "use"]]

spec_pred_scores_df[:1]

,target,prediction,rougeL,use
417006,What was the Elephant Man's real name?,What was John Merrick's nickname?,0.428571,0.504569

In [ ]:
# Convert to Latex
print(spec_pred_scores_df.to_latex(index=False, header=True))

\begin{tabular}{llrr}
\toprule
                                target &                                         prediction &   rougeL &      use \\
\midrule
What was the Elephant Man's real name? &                  What was John Merrick's nickname? & 0.428571 & 0.504569 \\
What was the Elephant Man's real name? & Which 1980 film, directed by David Lynch, starr... & 0.000000 & 0.202451 \\
\bottomrule
\end{tabular}

In [ ]:
spec_pred_scores_df = t5_df[(t5_df["target"] == "What was the Elephant Man's real name?") & (t5_df["nickname"] == "T5_amalgam_triviaqa")]

spec_pred_scores_df = spec_pred_scores_df[["target", "prediction", "rougeL", "use"]]

spec_pred_scores_df

,target,prediction,rougeL,use
259324,What was the Elephant Man's real name?,What was the name of the man who was exhibited...,0.363636,0.481661
265713,What was the Elephant Man's real name?,"""What 1980 film, directed by David Lynch, feat...",0.095238,0.082935

In [ ]:
# Convert to Latex
print(spec_pred_scores_df.to_latex(index=False, header=True))

\begin{tabular}{llrr}
\toprule
                                target &                                         prediction &   rougeL &      use \\
\midrule
What was the Elephant Man's real name? & What was the name of the man who was exhibited ... & 0.363636 & 0.481661 \\
What was the Elephant Man's real name? & "What 1980 film, directed by David Lynch, featu... & 0.095238 & 0.082935 \\
\bottomrule
\end{tabular}

### Metric Analysis

BART: High USE Score but Low RougeL Score

In [ ]:
# Find predictions with bertscore range of 85-90

bart_hi_lo_df = bart_df[(bart_df['use'] >= 0.85) & (bart_df['use'] <= 0.90) & (bart_df['rougeL'] <= 0.2)]

bart_hi_lo_df = bart_hi_lo_df.sort_values(by="bertscore-f1", ascending=False)

bart_hi_lo_df

,nickname,base_model,trained_on,tested_on,hyperparameter,target,prediction,bleu,rougeL,meteor,bertscore-f1,use
217016,bart_triviaqa_squad,bart,triviaqa,squad,{'defaults': True},What parts of plants have chloroplasts?,Chloroplasts are found in which part of a plant?,0.0,0.133333,0.509589,0.906873,0.869844
377485,bart_triviaqa_squad_hyp,bart,triviaqa,squad,"{'defaults': False, 'max_length': 50, 'beams':...",What parts of plants have chloroplasts?,Chloroplasts are found in which part of a plant?,0.0,0.133333,0.509589,0.906873,0.869844
280410,bart_amalgam_triviaqa,bart,amalgam,triviaqa,{'defaults': True},Electric Christmas tree lights were first used...,In which year was the first electrically power...,0.0,0.190476,0.432065,0.871232,0.850297
417687,bart_amalgam_triviaqa_hyp,bart,amalgam,triviaqa,"{'defaults': False, 'max_length': 50, 'beams':...",Electric Christmas tree lights were first used...,In which year was the first electrically power...,0.0,0.190476,0.432065,0.871232,0.850296
128090,bart_squad_squad,bart,squad,squad,{'defaults': True},Where did Tesla look for investors prior to WWI?,What type of investors did Tesla seek before W...,0.0,0.200000,0.309436,0.870404,0.873923
385016,bart_squad_squad_hyp,bart,squad,squad,"{'defaults': False, 'max_length': 50, 'beams':...",Where did Tesla look for investors prior to WWI?,What type of investors did Tesla seek before W...,0.0,0.200000,0.309436,0.870404,0.873923
395586,bart_amalgam_squad_hyp,bart,amalgam,squad,"{'defaults': False, 'max_length': 50, 'beams':...",Where did Tesla look for investors prior to WWI?,What type of investors did Tesla seek before W...,0.0,0.200000,0.309436,0.870404,0.873923
414029,bart_amalgam_triviaqa_hyp,bart,amalgam,triviaqa,"{'defaults': False, 'max_length': 50, 'beams':...",What country has slums known as favelas?,A favela is a slum in which country?,0.0,0.133333,0.246914,0.868003,0.856116

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "What country has slums known as favelas?") & (bart_df["nickname"] == "bart_triviaqa_triviaqa_hyp")]

spec_pred_scores_df[["nickname", "target", "prediction", "rougeL", "use"]]

,nickname,target,prediction,rougeL,use
321084,bart_triviaqa_triviaqa_hyp,What country has slums known as favelas?,In which country would you find a favela?,0.133333,0.725211

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "What country has slums known as favelas?") & (bart_df["nickname"] == "bart_amalgam_triviaqa")]

spec_pred_scores_df[["nickname", "target", "prediction", "rougeL", "use"]]

,nickname,target,prediction,rougeL,use
276752,bart_amalgam_triviaqa,What country has slums known as favelas?,In which South American country would you find...,0.117647,0.691679

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "What country has slums known as favelas?") & (bart_df["nickname"] == "bart_amalgam_triviaqa_hyp")]

spec_pred_scores_df[["nickname", "target", "prediction", "rougeL", "use"]]

,nickname,target,prediction,rougeL,use
414029,bart_amalgam_triviaqa_hyp,What country has slums known as favelas?,A favela is a slum in which country?,0.133333,0.856116

BART: Specific Example of High USE and Low ROUGEL

In [ ]:
spec_pred_scores_df = bart_df[(bart_df["target"] == "What country has slums known as favelas?") & (bart_df["nickname"] == "bart_amalgam_triviaqa_hyp")]

spec_pred_scores_df = spec_pred_scores_df[["base_model", "trained_on", "tested_on", "target", "prediction", "rougeL", "use"]]

spec_pred_scores_df

,base_model,trained_on,tested_on,target,prediction,rougeL,use
414029,bart,amalgam,triviaqa,What country has slums known as favelas?,A favela is a slum in which country?,0.133333,0.856116

In [ ]:
# Convert to Latex
print(spec_pred_scores_df.to_latex(index=False, header=True))

\begin{tabular}{lllllrr}
\toprule
base\_model & trained\_on & tested\_on &                                   target &                           prediction &   rougeL &      use \\
\midrule
      bart &    amalgam &  triviaqa & What country has slums known as favelas? & A favela is a slum in which country? & 0.133333 & 0.856116 \\
\bottomrule
\end{tabular}

## Format code to PEP 8 Standards

### Steps

*   Install:

In [ ]:
!pip install black[jupyter]


*   To format your code run:

In [ ]:
!black /content/drive/MyDrive/'Colab Notebooks'/prediction_text_analysis.ipynb


*   Don't save your notebook, hit F5 (Command + r) to refresh the page
*   Voila!
*   Now save!